Repository wodyddldl333/banchan: changes, and which Jenkins stages are due for each by the changed paths.
All: Build and Deploy Backend, Build and Deploy Frontend

Jenkinsfile:

pipeline {
    agent any

    environment {
        GIT_CREDENTIAL_ID = 'pwd-gitlab-ssafy'
    }

    stages {
        stage('Checkout') {
            steps {
                script {
                    git url: 'https://lab.ssafy.com/s11-webmobile1-sub2/S11P12E105.git', branch: 'production', credentialsId: GIT_CREDENTIAL_ID
                    sh '''
                    cd /home/S11P12E105
                    sudo git pull
                    '''     
                }
                
            }
        }
        stage('Build and Deploy Backend') {
            when {
                changeset "Banchan/**"
            }
            steps {
                script {
                    sh '''
                    cd /home/S11P12E105
                    cd docker-compose
                    sudo docker-compose -f docker-compose-back.yml build --no-cache 
                    sudo docker stop banchan_back1 || true
                    sudo docker stop banchan_back2 || true
                    sudo docker rm banchan_back1 || true
                    sudo docker rm banchan_back2 || true
                    sudo docker image prune -a -f
                    sudo docker-compose -f docker-compose-back.yml up -d
                    '''
                }
            }
        }
        stage('Build and Deploy Frontend') {
            when {
                changeset "BanChan_FE/**"
            }
            steps {
                script {
                    sh '''
                    cd /home/S11P12E105
                    cd docker-compose
                    sudo docker-compose -f docker-compose-front.yml build --no-cache 
                    sudo docker stop banchan_front || true
                    sudo docker rm banchan_front || true
                    sudo docker image prune -a -f
                    sudo docker-compose -f docker-compose-front.yml up -d
                    '''
                }
            }
        }
    }
    post {
        always {
            cleanWs()
        }
    }
}

[Env] 라우터 주소 변경
  BanChan_FE/packages/Web/src/components/MeetingManage/CreateMeeting.tsx
  BanChan_FE/packages/Web/src/components/MeetingManage/FinishedMeeting.tsx
  BanChan_FE/packages/Web/src/components/MeetingManage/ReservedMeeting.tsx
  BanChan_FE/packages/Web/src/pages/MeetingPage.tsx
  BanChan_FE/packages/Web/src/router/router.tsx
Due: Build and Deploy Frontend

[Docs] Readme 수정
  Banchan/README.md
Due: Build and Deploy Backend

[Env] 백엔드 domanin -> entity
  Banchan/src/main/java/com/__105/Banchan/auth/service/AuthService.java
  Banchan/src/main/java/com/__105/Banchan/auth/service/CustomUserDetailsService.java
  Banchan/src/main/java/com/__105/Banchan/auth/service/impl/AuthServiceImpl.java
  Banchan/src/main/java/com/__105/Banchan/user/controller/UserController.java
  Banchan/src/main/java/com/__105/Banchan/user/entity/Apartment.java
  Banchan/src/main/java/com/__105/Banchan/user/entity/User.java
  Banchan/src/main/java/com/__105/Banchan/user/entity/UserApartment.java
  Banchan/src/main/java/com/__105/Banchan/user/repository/AptRepository.java
  Banchan/src/main/java/com/__105/Banchan/user/repository/UserAptRepository.java
  Banchan/src/main/java/com/__105/Banchan/user/repository/UserRepository.java
  Banchan/src/main/java/com/__105/Banchan/user/service/UserService.java
  Banchan/src/main/java/com/__105/Banchan/user/service/impl/UserServiceImpl.java
  Banchan/src/main/java/com/__105/Banchan/vote/Entity/Vote.java
  Banchan/src/main/java/com/__105/Banchan/vote/Entity/VoteParticipant.java
  Banchan/src/main/java/com/__105/Banchan/vote/Entity/VoteResult.java
  Banchan/src/main/java/com/__105/Banchan/vote/repository/ApartmentRepository.java
  Banchan/src/main/java/com/__105/Banchan/vote/repository/UserApartmentRepository.java
  Banchan/src/main/java/com/__105/Banchan/vote/service/VoteServiceImpl.java
Due: Build and Deploy Backend

[Env] 백엔드 OriginLoginRequestDto import추가
  Banchan/src/main/java/com/__105/Banchan/auth/controller/AuthController.java
Due: Build and Deploy Backend

[Env] 스웨거 주소 변경
  Banchan/src/main/java/com/__105/Banchan/common/config/SwaggerConfig.java
Due: Build and Deploy Backend

[Env] 젠킨스 백엔드 restart
  Banchan/README.md
Due: Build and Deploy Backend

[Refactor] 문의 및 공지 API 수정
  Banchan/src/main/java/com/__105/Banchan/ask/dto/AskDetailResponse.java
  Banchan/src/main/java/com/__105/Banchan/ask/dto/AskListResponse.java
  Banchan/src/main/java/com/__105/Banchan/ask/repository/AskLikeRepository.java
  Banchan/src/main/java/com/__105/Banchan/ask/servie/AskServiceImpl.java
Due: Build and Deploy Backend

[Env]백엔드 재시작
  Banchan/README.md
Due: Build and Deploy Backend

[Env]로드 밸런싱 관련 DB설정 변경
  Banchan/src/main/resources/application.yml
  docker-compose/docker-compose-back.yml
Due: Build and Deploy Backend

[Env]백엔드 재시작
  Banchan/README.md
  docker-compose/docker-compose-back.yml
Due: Build and Deploy Backend

[Env] 백엔드 ddl-auto옵션 -> validate
  docker-compose/docker-compose-back.yml
Due: none

[Env] 리버스프록시 모든 경로 cors허용
  nginx/nginx.conf
Due: none

[Env]백엔드 config수정
  Banchan/src/main/java/com/__105/Banchan/common/config/WebMvcConfig.java
Due: Build and Deploy Backend

[Env]백엔드 config수정
  nginx/nginx.conf
Due: none

[Feat] 화상회의 기능 구현(wip)
  Banchan/build.gradle
  Banchan/src/main/java/com/__105/Banchan/conference/config/OpenViduConfig.java
  Banchan/src/main/java/com/__105/Banchan/conference/controller/OpenViduController.java
  Banchan/src/main/java/com/__105/Banchan/conference/dto/ConfRequest.java
  Banchan/src/main/java/com/__105/Banchan/conference/dto/ConfRoomResponse.java
  Banchan/src/main/java/com/__105/Banchan/conference/dto/DataResponse.java
  Banchan/src/main/java/com/__105/Banchan/conference/entity/ConfParticipant.java
  Banchan/src/main/java/com/__105/Banchan/conference/entity/ConfParticipantId.java
  Banchan/src/main/java/com/__105/Banchan/conference/entity/ConfRoom.java
  Banchan/src/main/java/com/__105/Banchan/conference/repository/ConfRoomRepository.java
  Banchan/src/main/java/com/__105/Banchan/conference/service/OpenViduService.java
  Banchan/src/main/resources/application.yml
Due: Build and Deploy Backend

[Env] back restart
  Banchan/src/main/resources/application.yml
  docker-compose/docker-compose-back.yml
Due: Build and Deploy Backend

[Env] back restart
  Banchan/README.md
  docker-compose/docker-compose-back.yml
Due: Build and Deploy Backend

[Env] 오픈비두서버 경로 변경
  Banchan/src/main/resources/application.yml
Due: Build and Deploy Backend

[Env] 오픈비두서버 시크릿키 변경
  Banchan/src/main/resources/application.yml
Due: Build and Deploy Backend

[Env] 빌드 에러 처리
  BanChan_FE/packages/Web/src/components/WebRTC/ControlPanels.tsx
  BanChan_FE/packages/Web/src/pages/KakaoCallback.tsx
  BanChan_FE/packages/Web/src/pages/MeetingPage.tsx
Due: Build and Deploy Frontend

[Feat] 투표 백엔드 연동 1차 완료
  BanChan_FE/.env
  BanChan_FE/packages/Web/.env
  BanChan_FE/packages/Web/src/Type.ts
  BanChan_FE/packages/Web/src/api/VoteAPI.ts
  BanChan_FE/packages/Web/src/components/TempTable.tsx
  BanChan_FE/packages/Web/src/components/TempTableRow.tsx
  BanChan_FE/packages/Web/src/components/VoteManage/ActiveVote.tsx
  BanChan_FE/packages/Web/src/components/VoteManage/FinishedVote.tsx
  BanChan_FE/packages/Web/src/components/VoteManage/VoteCreate.tsx
  BanChan_FE/packages/Web/src/components/VoteManage/VoteCreateForm.tsx
Due: Build and Deploy Frontend

[DOCS]파일 구조 관리
  BanChan_FE/packages/Web/src/OpenviduSession.tsx
  BanChan_FE/packages/Web/src/api/api.ts
  BanChan_FE/packages/Web/src/api/auth.ts
  BanChan_FE/packages/Web/src/components/Buttons/KakaoLoginButton.tsx
  BanChan_FE/packages/Web/src/components/Buttons/LogoutButton.tsx
  BanChan_FE/packages/Web/src/components/MainSideBar.tsx
  BanChan_FE/packages/Web/src/components/UserDetailForm.tsx
  BanChan_FE/packages/Web/src/pages/KakaoCallback.tsx
  BanChan_FE/packages/Web/src/pages/KakaoRedirect.tsx
  BanChan_FE/packages/Web/src/pages/UserDetailForm.tsx
  BanChan_FE/packages/Web/src/router/router.tsx
Due: Build and Deploy Frontend

[Feat] 투표 삭제 기능 구현 및 투표 기능 수정
  Banchan/src/main/java/com/__105/Banchan/vote/Dto/VoteListResponseDto.java
  Banchan/src/main/java/com/__105/Banchan/vote/Dto/VoteRequestDto.java
  Banchan/src/main/java/com/__105/Banchan/vote/Dto/VoteResponseDto.java
  Banchan/src/main/java/com/__105/Banchan/vote/Entity/Vote.java
  Banchan/src/main/java/com/__105/Banchan/vote/Entity/VoteQuestion.java
  Banchan/src/main/java/com/__105/Banchan/vote/Entity/VoteResult.java
  Banchan/src/main/java/com/__105/Banchan/vote/controller/VoteController.java
  Banchan/src/main/java/com/__105/Banchan/vote/repository/VoteParticipantRepository.java
  Banchan/src/main/java/com/__105/Banchan/vote/service/VoteService.java
  Banchan/src/main/java/com/__105/Banchan/vote/service/VoteServiceImpl.java
Due: Build and Deploy Backend

[fix] 게시글 쿠키 관련 오류 수정
  Banchan/src/main/java/com/__105/Banchan/ask/controller/AskController.java
  Banchan/src/main/java/com/__105/Banchan/auth/service/impl/AuthServiceImpl.java
  Banchan/src/main/java/com/__105/Banchan/notice/controller/NoticeController.java
Due: Build and Deploy Backend

[Feat] 커뮤니티 API 연동
  BanChan_FE/packages/Web/src/Type.ts
  BanChan_FE/packages/Web/src/api/CommunityAPI.ts
  BanChan_FE/packages/Web/src/api/VoteAPI.ts
  BanChan_FE/packages/Web/src/components/CRUD/Detail.tsx
  BanChan_FE/packages/Web/src/components/CRUD/Update.tsx
  BanChan_FE/packages/Web/src/components/CRUD/Write.tsx
  BanChan_FE/packages/Web/src/components/Community/Ask.tsx
  BanChan_FE/packages/Web/src/components/Community/Board.tsx
  BanChan_FE/packages/Web/src/components/Community/Notice.tsx
  BanChan_FE/packages/Web/src/components/TableRow.tsx
  BanChan_FE/packages/Web/src/components/TempTableRow.tsx
  BanChan_FE/packages/Web/src/components/VoteManage/VoteCreate.tsx
  BanChan_FE/packages/Web/src/pages/LoginPage.tsx
  BanChan_FE/packages/Web/src/router/router.tsx
Due: Build and Deploy Frontend

[FEAT]관리자 회원가입 승인
  BanChan_FE/packages/Web/src/components/UserManage/Approval.tsx
  BanChan_FE/packages/Web/src/components/UserManage/Manage.tsx
  BanChan_FE/packages/Web/src/pages/KakaoCallback.tsx
  BanChan_FE/packages/Web/src/router/router.tsx
  BanChan_FE/packages/Web/vite.config.ts
Due: Build and Deploy Frontend

[Fix]kakaologinbutton routes 수정
  BanChan_FE/packages/Web/src/components/UserManage/Approval.tsx
  BanChan_FE/packages/Web/src/pages/SocialLoginPage.tsx
Due: Build and Deploy Frontend

[Fix]카카오 로그인 버튼 위치 수정
  BanChan_FE/.env
  BanChan_FE/packages/Web/src/components/UserManage/Approval.tsx
  BanChan_FE/packages/Web/src/components/UserManage/Manage.tsx
  BanChan_FE/packages/Web/src/pages/KakaoCallback.tsx
  BanChan_FE/packages/Web/src/pages/SocialLoginPage.tsx
  BanChan_FE/packages/Web/src/router/router.tsx
  BanChan_FE/packages/Web/vite.config.ts
Due: Build and Deploy Frontend

[Feat] 투표 생성 구현
  BanChan_FE/packages/Web/src/Type.ts
  BanChan_FE/packages/Web/src/api/VoteAPI.ts
  BanChan_FE/packages/Web/src/components/CRUD/Write.tsx
  BanChan_FE/packages/Web/src/components/VoteManage/VoteCreate.tsx
Due: Build and Deploy Frontend
