Repository wodyddldl333/banchan: changes, and which Jenkins stages are due for each by the changed paths.
All: Build and Deploy Backend, Build and Deploy Frontend

Jenkinsfile:

pipeline {
    agent any

    environment {
        GIT_CREDENTIAL_ID = 'pwd-gitlab-ssafy'
    }

    stages {
        stage('Checkout') {
            steps {
                script {
                    git url: 'https://lab.ssafy.com/s11-webmobile1-sub2/S11P12E105.git', branch: 'production', credentialsId: GIT_CREDENTIAL_ID
                    sh '''
                    cd /home/S11P12E105
                    sudo git pull
                    '''     
                }
                
            }
        }
        stage('Build and Deploy Backend') {
            when {
                changeset "Banchan/**"
            }
            steps {
                script {
                    sh '''
                    cd /home/S11P12E105
                    cd docker-compose
                    sudo docker-compose -f docker-compose-back.yml build --no-cache 
                    sudo docker stop banchan_back1 || true
                    sudo docker stop banchan_back2 || true
                    sudo docker rm banchan_back1 || true
                    sudo docker rm banchan_back2 || true
                    sudo docker image prune -a -f
                    sudo docker-compose -f docker-compose-back.yml up -d
                    '''
                }
            }
        }
        stage('Build and Deploy Frontend') {
            when {
                changeset "BanChan_FE/**"
            }
            steps {
                script {
                    sh '''
                    cd /home/S11P12E105
                    cd docker-compose
                    sudo docker-compose -f docker-compose-front.yml build --no-cache 
                    sudo docker stop banchan_front || true
                    sudo docker rm banchan_front || true
                    sudo docker image prune -a -f
                    sudo docker-compose -f docker-compose-front.yml up -d
                    '''
                }
            }
        }
    }
    post {
        always {
            cleanWs()
        }
    }
}

[Fix]환경변수 관련 수정
  BanChan_FE/packages/Mobile/src/mobileapi/api.ts
Due: Build and Deploy Frontend

사용자 정보 입력 수정
  BanChan_FE/packages/Mobile/src/pages/MyPage.tsx
  BanChan_FE/packages/Web/src/components/UserManage/Approval.tsx
Due: Build and Deploy Frontend

[Feat] STT, summary
  BanChan_FE/packages/Web/src/components/WebRTC/ControlPanels.tsx
  BanChan_FE/packages/Web/src/pages/MeetingPage.tsx
Due: Build and Deploy Frontend

[Feat] Stt, AI
  BanChan_FE/package-lock.json
  BanChan_FE/packages/Mobile/package.json
  BanChan_FE/packages/Mobile/src/Types.ts
  BanChan_FE/packages/Mobile/src/components/Community/Ask/AskList.tsx
  BanChan_FE/packages/Mobile/src/components/Community/Ask/AskWrite.tsx
  BanChan_FE/packages/Mobile/src/components/Community/Board/BoardList.tsx
  BanChan_FE/packages/Mobile/src/components/Community/Notice/NoticeDetail.tsx
  BanChan_FE/packages/Mobile/src/components/Community/Notice/NoticeList.tsx
  BanChan_FE/packages/Mobile/src/components/Header.tsx
  BanChan_FE/packages/Mobile/src/index.css
  BanChan_FE/packages/Mobile/src/router/router.tsx
  BanChan_FE/packages/Web/src/Type.ts
  BanChan_FE/packages/Web/src/components/MeetingManage/FinishedMeeting.tsx
  BanChan_FE/packages/Web/src/components/WebRTC/ControlPanels.tsx
  BanChan_FE/packages/Web/src/pages/LoginPage.tsx
  BanChan_FE/packages/Web/src/pages/MeetingPage.tsx
Due: Build and Deploy Frontend

[Fix] 정보 등록 경로 수정
  BanChan_FE/packages/Mobile/src/components/oauthlogin/KakaoCallback.tsx
  BanChan_FE/packages/Mobile/src/pages/MyPage.tsx
Due: Build and Deploy Frontend

[Fix] 사진 경로 오류 수정
  BanChan_FE/packages/Mobile/src/components/oauthlogin/KakaoLoginButton.tsx
Due: Build and Deploy Frontend

[Feat] 모바일 커뮤니티 수정
  BanChan_FE/packages/Mobile/src/components/Community/Notice.tsx
  BanChan_FE/packages/Mobile/src/components/Header.tsx
  BanChan_FE/packages/Mobile/src/router/router.tsx
Due: Build and Deploy Frontend

[Env] 업로드파일, 녹화파일, 구글키 이그노어 설정
  .gitignore
  Banchan/.gitignore
Due: Build and Deploy Backend

[Feat] 모바일 마이페이지 업데이트
  BanChan_FE/packages/Mobile/src/pages/MyPage.tsx
Due: Build and Deploy Frontend

[Fix]로그인 버튼 css 수정
  BanChan_FE/packages/Mobile/src/components/oauthlogin/KakaoLoginButton.tsx
Due: Build and Deploy Frontend

[Env] ssl인증서 이그노어 설정
  .gitignore
Due: none

[Fix]api요청 수정
  BanChan_FE/packages/Web/src/components/UserManage/Approval.tsx
Due: Build and Deploy Frontend

[Feat] 기본 라우팅 수정 및 헤더 수정
  BanChan_FE/package-lock.json
  BanChan_FE/packages/Mobile/src/components/Header.tsx
  BanChan_FE/packages/Mobile/src/pages/Home.tsx
  BanChan_FE/packages/Mobile/src/router/router.tsx
Due: Build and Deploy Frontend

[Env] 백엔드 도커컴포즈 변경
  Banchan/README.md
  docker-compose/docker-compose-back.yml
Due: Build and Deploy Backend

[Feat] 카카오 로그인 관련 수정
  BanChan_FE/packages/Mobile/src/router/router.tsx
Due: Build and Deploy Frontend

[Fix] 환경변수 설정 및 STT 비동기 처리
  Banchan/src/main/java/com/__105/Banchan/conference/config/ChatGptConfig.java
  Banchan/src/main/java/com/__105/Banchan/conference/service/ChatGptService.java
  Banchan/src/main/java/com/__105/Banchan/conference/service/OpenViduService.java
  Banchan/src/main/java/com/__105/Banchan/conference/service/SpeechService.java
  Banchan/src/main/resources/application.yml
Due: Build and Deploy Backend

[Fix] 카카오 로고 오류 수정
  BanChan_FE/packages/Mobile/src/components/oauthlogin/KakaoLoginButton.tsx
Due: Build and Deploy Frontend

[Feat] 오류수정
  BanChan_FE/packages/Web/vite.config.ts
Due: Build and Deploy Frontend

[Feat] 카카오 버튼 오류 수정
  BanChan_FE/packages/Mobile/src/components/oauthlogin/KakaoCallback.tsx
  BanChan_FE/packages/Web/src/components/Buttons/KakaoLoginButton.tsx
  BanChan_FE/packages/Web/src/components/Community/Ask.tsx
  BanChan_FE/packages/Web/src/components/Community/Notice.tsx
Due: Build and Deploy Frontend

[Env] 오픈비두서버설정 환경변수 추출 및 구글키 설정
  Banchan/src/main/resources/application.yml
  docker-compose/docker-compose-back.yml
Due: Build and Deploy Backend

[Env] 백엔드 환경설정 변경
  Banchan/src/main/resources/application.yml
Due: Build and Deploy Backend

[Fix] 정보 등록 버튼 수정
  BanChan_FE/packages/Mobile/src/components/UserSettings/HomeInfo.tsx
Due: Build and Deploy Frontend

[Env] 백엔드 도커컴포즈 녹화 설정 변경
  docker-compose/docker-compose-back.yml
Due: none

[Env] 백엔드 재시작
  Banchan/README.md
Due: Build and Deploy Backend

[Feat] 카카오 쿠키 관련 수정
  BanChan_FE/packages/Mobile/src/components/oauthlogin/KakaoCallback.tsx
  BanChan_FE/packages/Mobile/src/main.tsx
  BanChan_FE/packages/Web/src/components/CRUD/Detail.tsx
  BanChan_FE/packages/Web/src/components/Community/Notice.tsx
Due: Build and Deploy Frontend

[Fix] DB 컬럼 수정 및 요약본 상세 조회 API
  Banchan/src/main/java/com/__105/Banchan/ask/entity/Ask.java
  Banchan/src/main/java/com/__105/Banchan/ask/entity/AskComment.java
  Banchan/src/main/java/com/__105/Banchan/conference/controller/OpenViduController.java
  Banchan/src/main/java/com/__105/Banchan/conference/dto/ConfDetailResponse.java
  Banchan/src/main/java/com/__105/Banchan/conference/dto/ConfRoomResponse.java
  Banchan/src/main/java/com/__105/Banchan/conference/entity/ConfRoom.java
  Banchan/src/main/java/com/__105/Banchan/conference/service/OpenViduService.java
  Banchan/src/main/java/com/__105/Banchan/notice/entitiy/Notice.java
Due: Build and Deploy Backend

[Feat] 카카오 로그인 구현
  BanChan_FE/packages/Mobile/src/components/oauthlogin/KakaoCallback.tsx
  BanChan_FE/packages/Mobile/src/main.tsx
  BanChan_FE/packages/Mobile/vite.config.ts
Due: Build and Deploy Frontend

[Fix] 관리자 페이지 수정
  BanChan_FE/packages/Web/src/components/UserManage/Approval.tsx
  BanChan_FE/packages/Web/src/components/UserManage/Manage.tsx
Due: Build and Deploy Frontend

[Feat] 화상 회의정보 API
  Banchan/src/main/java/com/__105/Banchan/conference/controller/OpenViduController.java
  Banchan/src/main/java/com/__105/Banchan/conference/dto/ConfInfoResponse.java
  Banchan/src/main/java/com/__105/Banchan/conference/service/OpenViduService.java
Due: Build and Deploy Backend

[Fix]로그아웃 버튼 수정
  BanChan_FE/packages/Web/src/api/auth.ts
  BanChan_FE/packages/Web/src/components/Buttons/KakaoLoginButton.tsx
  BanChan_FE/packages/Web/src/components/Buttons/LogoutButton.tsx
Due: Build and Deploy Frontend

[Fix]경로 수정 추가
  BanChan_FE/packages/Web/src/components/Buttons/KakaoLoginButton.tsx
  BanChan_FE/packages/Web/src/components/Buttons/LogoutButton.tsx
Due: Build and Deploy Frontend

[Feat] 카카오 로그인 체크용
  BanChan_FE/packages/Mobile/src/components/Community/Notice/NoticeList.tsx
  BanChan_FE/packages/Mobile/src/components/oauthlogin/KakaoCallback.tsx
Due: Build and Deploy Frontend

[Feat] 카카오 JWT 토큰 기간 설정
  BanChan_FE/packages/Mobile/src/components/oauthlogin/KakaoCallback.tsx
Due: Build and Deploy Frontend

[Feat] 모바일 공지사항 구현
  BanChan_FE/packages/Mobile/src/Types.ts
  BanChan_FE/packages/Mobile/src/components/Community/Board/BoardList.tsx
  BanChan_FE/packages/Mobile/src/components/Community/Notice/NoticeList.tsx
  BanChan_FE/packages/Mobile/src/components/Pagination.tsx
  BanChan_FE/packages/Mobile/src/components/oauthlogin/KakaoCallback.tsx
  BanChan_FE/packages/Mobile/src/mobileapi/CommunityAPI.ts
  BanChan_FE/packages/Mobile/src/mobileapi/VoteAPI.ts
  BanChan_FE/packages/Mobile/src/router/router.tsx
  BanChan_FE/packages/Web/src/api/VoteAPI.ts
  BanChan_FE/packages/Web/src/components/Community/Notice.tsx
Due: Build and Deploy Frontend

[Fix]정보 등록 버튼 수정
  BanChan_FE/packages/Mobile/src/components/UserSettings/HomeInfo.tsx
Due: Build and Deploy Frontend

[Fix]Token 관련 수정
  BanChan_FE/packages/Mobile/src/components/UserSettings/HomeInfo.tsx
Due: Build and Deploy Frontend

[Fix] 오류 방지 타입 일부 수정
  BanChan_FE/packages/Mobile/src/Types.ts
Due: Build and Deploy Frontend

[Feat] WebRTC STT, AI summary almost done
  BanChan_FE/package-lock.json
  BanChan_FE/package.json
  BanChan_FE/packages/Mobile/src/router/router.tsx
  BanChan_FE/packages/Web/package.json
  BanChan_FE/packages/Web/src/components/MeetingManage/CreateMeeting.tsx
  BanChan_FE/packages/Web/src/components/MeetingManage/FinishedMeeting.tsx
  BanChan_FE/packages/Web/src/components/Spinner.tsx
  BanChan_FE/packages/Web/src/components/WebRTC/ChatBox.tsx
  BanChan_FE/packages/Web/src/components/WebRTC/ThumbnailPlayer.tsx
  BanChan_FE/packages/Web/src/pages/MeetingPage.tsx
  BanChan_FE/packages/Web/src/pages/SessionJoinPage.tsx
  BanChan_FE/packages/Web/vite.config.ts
Due: Build and Deploy Frontend

[Fix] config 에러 수정
  BanChan_FE/packages/Web/vite.config.ts
Due: Build and Deploy Frontend
