Repository wodyddldl333/banchan: changes, and which Jenkins stages are due for each by the changed paths.
All: Build and Deploy Backend, Build and Deploy Frontend

Build and Deploy Backend:
              steps {
                  script {
                      sh '''
                      cd /home/S11P12E105
                      cd docker-compose
                      sudo docker-compose -f docker-compose-back.yml build --no-cache 
                      sudo docker stop banchan_back1 || true
  ...

Build and Deploy Frontend:
              steps {
                  script {
                      sh '''
                      cd /home/S11P12E105
                      cd docker-compose
                      sudo docker-compose -f docker-compose-front.yml build --no-cache 
                      sudo docker stop banchan_front || true
  ...

[Feat] 모바일 로그인 구현
  BanChan_FE/packages/Mobile/src/components/Header.tsx
  BanChan_FE/packages/Mobile/src/components/oauthlogin/KakaoCallback.tsx
  BanChan_FE/packages/Mobile/src/components/oauthlogin/KakaoLoginButton.tsx
  BanChan_FE/packages/Mobile/src/mobileapi/api.ts
  BanChan_FE/packages/Mobile/src/mobileapi/auth.ts
  BanChan_FE/packages/Mobile/src/router/router.tsx
Due: Build and Deploy Frontend

[Env] 프론트 웹 재시작
  BanChan_FE/packages/Web/README.MD
Due: Build and Deploy Frontend

[Fix]header.tsx수정
  BanChan_FE/packages/Mobile/src/components/Header.tsx
Due: Build and Deploy Frontend

[Env]패키지 설치
  BanChan_FE/package-lock.json
  BanChan_FE/packages/Mobile/package.json
Due: Build and Deploy Frontend

[Feat] 페이징 수정 및 게시글 수정 삭제 구현
  BanChan_FE/.gitignore
  BanChan_FE/packages/Web/src/Type.ts
  BanChan_FE/packages/Web/src/api/simpleAPI.ts
  BanChan_FE/packages/Web/src/components/CRUD/Detail.tsx
  BanChan_FE/packages/Web/src/components/CRUD/Update.tsx
  BanChan_FE/packages/Web/src/components/Community/Ask.tsx
  BanChan_FE/packages/Web/src/components/Community/Notice.tsx
  BanChan_FE/packages/Web/src/components/Pagination.tsx
  BanChan_FE/packages/Web/src/components/TempTable.tsx
  BanChan_FE/packages/Web/src/router/router.tsx
Due: Build and Deploy Frontend

[Feat] 페이징 수정 및 게시글 수정 삭제 구현
  BanChan_FE/packages/Web/src/components/UserManage/Approval.tsx
  BanChan_FE/packages/Web/src/components/UserManage/Manage.tsx
Due: Build and Deploy Frontend

[Feat] 페이징 수정 및 게시글 수정 삭제 구현
  BanChan_FE/packages/Web/src/components/MeetingManage/FinishedMeeting.tsx
  BanChan_FE/packages/Web/src/components/MeetingManage/ReservedMeeting.tsx
Due: Build and Deploy Frontend

[Fix] MeetingPage 빌드 에러 수정
  BanChan_FE/packages/Web/src/pages/MeetingPage.tsx
Due: Build and Deploy Frontend

[Env] 엔진엑스 설정 변경 및 프론트 재시작
  BanChan_FE/packages/Mobile/README.MD
  BanChan_FE/packages/Web/README.MD
  nginx/nginx.conf
Due: Build and Deploy Frontend

[Env] 엔진엑스 설정 변경 -모바일 주석-
  nginx/nginx.conf
Due: none

[Fix] 모바일 캘린더 관련 dockerfile 수정
  BanChan_FE/packages/Mobile/Dockerfile
  BanChan_FE/packages/Mobile/README.MD
  BanChan_FE/packages/Web/Dockerfile
Due: Build and Deploy Frontend

[Env] 백엔드 cors설정 변경
  Banchan/src/main/java/com/__105/Banchan/common/config/WebMvcConfig.java
Due: Build and Deploy Backend

[Env] 프론트 재시작
  BanChan_FE/packages/Web/README.MD
Due: Build and Deploy Frontend

[Env] https설정
  Banchan/src/main/java/com/__105/Banchan/common/config/SwaggerConfig.java
  nginx/nginx.conf
Due: Build and Deploy Backend

[Fix] 모듈 수정
  BanChan_FE/package-lock.json
  BanChan_FE/package.json
  BanChan_FE/packages/Web/package.json
Due: Build and Deploy Frontend

[Env] 웹 재시작
  BanChan_FE/packages/Web/README.MD
  nginx/nginx.conf
Due: Build and Deploy Frontend

[Fix] Vite Config 주소 수정
  BanChan_FE/packages/Web/vite.config.ts
Due: Build and Deploy Frontend

[Env] 젠킨스 80포트 변경 및 모바일 주석제거
  nginx/nginx.conf
Due: none

[Feat] 캘린더 패키지 수정
  BanChan_FE/package-lock.json
  BanChan_FE/packages/Mobile/package.json
  BanChan_FE/packages/Mobile/src/components/Meeting/CalendarApp.tsx
Due: Build and Deploy Frontend

[Feat] 화상회의 요약 기능 구현
  Banchan/build.gradle
  Banchan/src/main/java/com/__105/Banchan/conference/AudioConvertor.java
  Banchan/src/main/java/com/__105/Banchan/conference/config/ChatGptConfig.java
  Banchan/src/main/java/com/__105/Banchan/conference/config/GoogleCloudConfig.java
  Banchan/src/main/java/com/__105/Banchan/conference/controller/SpeechController.java
  Banchan/src/main/java/com/__105/Banchan/conference/dto/ChatGptRequestDto.java
  Banchan/src/main/java/com/__105/Banchan/conference/dto/ChatGptResponseDto.java
  Banchan/src/main/java/com/__105/Banchan/conference/dto/Choice.java
  Banchan/src/main/java/com/__105/Banchan/conference/dto/QuestionRequestDto.java
  Banchan/src/main/java/com/__105/Banchan/conference/entity/ConfRoom.java
  Banchan/src/main/java/com/__105/Banchan/conference/service/ChatGptService.java
  Banchan/src/main/java/com/__105/Banchan/conference/service/OpenViduService.java
  Banchan/src/main/java/com/__105/Banchan/conference/service/SpeechService.java
  Banchan/src/main/java/com/__105/Banchan/notice/repository/NoticeSpecification.java
  Banchan/src/main/java/com/__105/Banchan/notice/service/NoticeServiceImpl.java
  Banchan/src/main/java/com/__105/Banchan/util/CustomUserDetailsService.java
  Banchan/src/main/resources/application.yml
Due: Build and Deploy Backend

[Delete] moment관련 전체 삭제
  BanChan_FE/package-lock.json
  BanChan_FE/package.json
  BanChan_FE/packages/Mobile/Dockerfile
  BanChan_FE/packages/Mobile/package.json
  BanChan_FE/packages/Web/Dockerfile
  BanChan_FE/packages/Web/package.json
Due: Build and Deploy Frontend

[Feat] React Cookie 모듈 추가
  BanChan_FE/package-lock.json
  BanChan_FE/package.json
  BanChan_FE/packages/Mobile/package.json
Due: Build and Deploy Frontend

[Fix]카카오 로그인 버튼 수정
  BanChan_FE/packages/Mobile/src/pages/FirstPage.tsx
Due: Build and Deploy Frontend

[Feat] Stt, AI
  BanChan_FE/package-lock.json
  BanChan_FE/packages/Mobile/package.json
  BanChan_FE/packages/Mobile/src/Types.ts
  BanChan_FE/packages/Mobile/src/components/Community/Ask/AskList.tsx
  BanChan_FE/packages/Mobile/src/components/Community/Ask/AskWrite.tsx
  BanChan_FE/packages/Mobile/src/components/Community/Board/BoardList.tsx
  BanChan_FE/packages/Mobile/src/components/Community/Notice/NoticeDetail.tsx
  BanChan_FE/packages/Mobile/src/components/Community/Notice/NoticeList.tsx
  BanChan_FE/packages/Mobile/src/components/Header.tsx
  BanChan_FE/packages/Mobile/src/index.css
  BanChan_FE/packages/Mobile/src/router/router.tsx
  BanChan_FE/packages/Web/.env
  BanChan_FE/packages/Web/src/Type.ts
  BanChan_FE/packages/Web/src/components/MeetingManage/FinishedMeeting.tsx
  BanChan_FE/packages/Web/src/components/WebRTC/ControlPanels.tsx
  BanChan_FE/packages/Web/src/pages/LoginPage.tsx
  BanChan_FE/packages/Web/src/pages/MeetingPage.tsx
Due: Build and Deploy Frontend

[Feat] OTP 2차 인증 구현
  Banchan/src/main/java/com/__105/Banchan/auth/controller/AuthController.java
  Banchan/src/main/java/com/__105/Banchan/auth/dto/KakaoUserDto.java
  Banchan/src/main/java/com/__105/Banchan/auth/dto/kakao/KakaoTokenDto.java
  Banchan/src/main/java/com/__105/Banchan/auth/dto/kakao/KakaoUserInfoDto.java
  Banchan/src/main/java/com/__105/Banchan/auth/dto/login/SignupRequestDto.java
  Banchan/src/main/java/com/__105/Banchan/auth/dto/login/TokenResponseStatus.java
  Banchan/src/main/java/com/__105/Banchan/auth/dto/otp/OtpRequestDto.java
  Banchan/src/main/java/com/__105/Banchan/auth/dto/otp/OtpResponseDto.java
  Banchan/src/main/java/com/__105/Banchan/auth/dto/otp/OtpValidateRequestDto.java
  Banchan/src/main/java/com/__105/Banchan/auth/dto/security/SecurityUserDto.java
  Banchan/src/main/java/com/__105/Banchan/auth/jwt/JwtAuthFilter.java
  Banchan/src/main/java/com/__105/Banchan/auth/service/AuthService.java
  Banchan/src/main/java/com/__105/Banchan/auth/service/impl/AuthServiceImpl.java
  Banchan/src/main/java/com/__105/Banchan/common/exception/ErrorCode.java
  Banchan/src/main/java/com/__105/Banchan/redis/repository/OtpRepository.java
  Banchan/src/main/java/com/__105/Banchan/redis/repository/OtpRepositoryImpl.java
  Banchan/src/main/java/com/__105/Banchan/redis/service/OtpService.java
  Banchan/src/main/java/com/__105/Banchan/redis/service/impl/OtpServiceImpl.java
  Banchan/src/main/java/com/__105/Banchan/user/service/impl/UserServiceImpl.java
  Banchan/src/main/resources/application.yml
Due: Build and Deploy Backend

[Feat] Otp 인증시 Otp 문자열 반환 구현
  Banchan/src/main/java/com/__105/Banchan/auth/controller/AuthController.java
  Banchan/src/main/java/com/__105/Banchan/auth/dto/otp/OtpCreateResponseDto.java
  Banchan/src/main/java/com/__105/Banchan/redis/service/OtpService.java
  Banchan/src/main/java/com/__105/Banchan/redis/service/impl/OtpServiceImpl.java
Due: Build and Deploy Backend

[Env] 리버스프록시 챌린지설정
  nginx/nginx.conf
Due: none

[Env] certbot 설정 추가
  docker-compose/docker-compose-rvproxy.yml
  nginx/Dockerfile
  nginx/nginx.conf
Due: none

[Env] certbot 설정 추가
  .gitignore
  docker-compose/docker-compose-rvproxy.yml
  nginx/Dockerfile
  nginx/nginx.conf
  nginx/ssl/nginx.crt
  nginx/ssl/nginx.key
Due: none

[Env] 젠킨스 경로 수정
  nginx/nginx.conf
Due: none

[Fix]회원 정보 입력 api 수정
  BanChan_FE/packages/Mobile/src/components/UserSettings/HomeInfo.tsx
  BanChan_FE/packages/Mobile/src/router/router.tsx
  BanChan_FE/packages/Web/src/components/UserManage/Approval.tsx
  BanChan_FE/packages/Web/vite.config.ts
Due: Build and Deploy Frontend

[Env]젠킨스 이미지 수정
  docker-compose/Dockerfile
Due: none

[Fix] Long Audio File 비동기 및 분할 처리
  Banchan/credentials.json
  Banchan/src/main/java/com/__105/Banchan/conference/controller/OpenViduController.java
  Banchan/src/main/java/com/__105/Banchan/conference/entity/ConfRoom.java
  Banchan/src/main/java/com/__105/Banchan/conference/repository/ConfRoomRepository.java
  Banchan/src/main/java/com/__105/Banchan/conference/service/OpenViduService.java
  Banchan/src/main/java/com/__105/Banchan/conference/service/SpeechService.java
Due: Build and Deploy Backend

[Feat] 커뮤니티,투표 마무리
  BanChan_FE/packages/Web/src/Type.ts
  BanChan_FE/packages/Web/src/api/SenaMassageAPI.tsx
  BanChan_FE/packages/Web/src/api/VoteAPI.ts
  BanChan_FE/packages/Web/src/components/SendMessage.tsx
  BanChan_FE/packages/Web/src/components/VoteManage/VoteDetail.tsx
  BanChan_FE/packages/Web/src/components/VoteManage/VoteEnd.tsx
  BanChan_FE/packages/Web/src/components/VoteManage/VoteEndForm.tsx
  BanChan_FE/packages/Web/src/router/router.tsx
Due: Build and Deploy Frontend

[Feat] 불필요 버튼 임시 삭제
  BanChan_FE/packages/Web/src/components/Community/Ask.tsx
  BanChan_FE/packages/Web/src/components/Community/Notice.tsx
  BanChan_FE/packages/Web/src/components/VoteManage/ActiveVote.tsx
Due: Build and Deploy Frontend

[Feat] 모바일 공지사항 추가
  BanChan_FE/packages/Mobile/src/components/Community/Notice.tsx
  BanChan_FE/packages/Mobile/src/components/Header.tsx
  BanChan_FE/packages/Mobile/src/router/router.tsx
Due: Build and Deploy Frontend

[Fix]redirect uri 모바일 수정
  BanChan_FE/packages/Mobile/src/components/oauthlogin/KakaoLoginButton.tsx
Due: Build and Deploy Frontend

Path conditions:
  Build and Deploy Backend: any of: Banchan/**
  Build and Deploy Frontend: any of: BanChan_FE/**
