Repository wodyddldl333/banchan: changes, and which Jenkins stages are due for each by the changed paths.
All: Build and Deploy Backend, Build and Deploy Frontend

Build and Deploy Backend:
              steps {
                  script {
                      sh '''
                      cd /home/S11P12E105
                      cd docker-compose
                      sudo docker-compose -f docker-compose-back.yml build --no-cache 
                      sudo docker stop banchan_back1 || true
  ...

Build and Deploy Frontend:
              steps {
                  script {
                      sh '''
                      cd /home/S11P12E105
                      cd docker-compose
                      sudo docker-compose -f docker-compose-front.yml build --no-cache 
                      sudo docker stop banchan_front || true
  ...

[Docs] 포팅 매뉴얼 더미데이터 관련 내용 추가
  exec/포팅매뉴얼.md
Due: none

[Fix] Security
  Banchan/src/main/java/com/__105/Banchan/auth/config/SecurityConfig.java
Due: Build and Deploy Backend

Commit
  BanChan_FE/packages/Mobile/src/components/Meeting/SessionJoinPage.tsx
Due: Build and Deploy Frontend

[Feat] 유저관리 수정
  BanChan_FE/packages/Web/src/components/UserManage/Approval.tsx
Due: Build and Deploy Frontend

Commits
  BanChan_FE/packages/Mobile/src/components/Meeting/Chat.tsx
  BanChan_FE/packages/Mobile/src/components/Meeting/ControlPanels.tsx
  BanChan_FE/packages/Mobile/src/components/Meeting/MeetingPage.tsx
Due: Build and Deploy Frontend

Commit
  BanChan_FE/packages/Mobile/src/components/Meeting/Chat.tsx
  BanChan_FE/packages/Mobile/src/components/Meeting/ControlPanels.tsx
  BanChan_FE/packages/Mobile/src/components/Meeting/MeetingPage.tsx
Due: Build and Deploy Frontend

[Fix] json 직렬화 버그 수정
  Banchan/src/main/java/com/__105/Banchan/admin/service/impl/AdminServiceImpl.java
  Banchan/src/main/java/com/__105/Banchan/user/entity/User.java
Due: Build and Deploy Backend

Commit
  BanChan_FE/packages/Mobile/src/components/Meeting/Chat.tsx
  BanChan_FE/packages/Mobile/src/components/Meeting/MeetingPage.tsx
Due: Build and Deploy Frontend

Commit
  BanChan_FE/packages/Mobile/src/components/Meeting/MeetingHome.tsx
Due: Build and Deploy Frontend

[Docs] 더미데이터 추가
  exec/dummydata/data.sql
  exec/dummydata/data_ha.sql
Due: none

Commits
  BanChan_FE/packages/Mobile/src/components/Meeting/MeetingHome.tsx
  BanChan_FE/packages/Mobile/src/components/Meeting/SessionJoinPage.tsx
Due: Build and Deploy Frontend

Commits
  BanChan_FE/packages/Mobile/src/components/Meeting/ControlPanels.tsx
  BanChan_FE/packages/Mobile/src/components/Meeting/MeetingHome.tsx
  BanChan_FE/packages/Mobile/src/components/Meeting/SessionJoinPage.tsx
Due: Build and Deploy Frontend

Commits
  BanChan_FE/packages/Mobile/src/components/Meeting/ControlPanels.tsx
  BanChan_FE/packages/Mobile/src/components/Meeting/SessionJoinPage.tsx
  BanChan_FE/packages/Mobile/src/components/Meeting/SubscribeList.tsx
Due: Build and Deploy Frontend

Commit
  BanChan_FE/packages/Web/src/pages/MeetingPage.tsx
Due: Build and Deploy Frontend

Commits
  BanChan_FE/packages/Web/src/pages/MeetingPage.tsx
Due: Build and Deploy Frontend

[Docs]포팅매뉴얼 수정 및 리드미 작성
  README.md
  exec/resources/banchanM.png
  exec/resources/banchanMhome.png
Due: none

[Docs]포팅매뉴얼 수정
  exec/포팅매뉴얼.md
Due: none

[Docs]포팅매뉴얼 수정
  README.md
  exec/포팅매뉴얼.md
Due: none

[Docs] 리드미 추가작성및 리소스 추가
  README.md
  exec/resources/API1.png
  exec/resources/API2.png
  exec/resources/요구사항정의서.png
Due: none

[Docs] 인물사진 추가
  README.md
  exec/resources/banchanMain.png
  exec/resources/김동건.png
  exec/resources/김하휼.png
  exec/resources/윤동환.png
  exec/resources/정진우.png
  exec/resources/최동호.png
  exec/resources/최재용.png
Due: none

[Docs] 리드미 수정
  README.md
  exec/resources/김동건1.png
Due: none

[Docs] 리드미 수정
  exec/resources/와이어프레임모바일.png
  exec/resources/와이어프레임웹.png
Due: none

[Docs] 리드미 수정
  README.md
Due: none

[Feat] console로그 제거
  BanChan_FE/packages/Web/src/components/VoteManage/FinishedVote.tsx
  BanChan_FE/packages/Web/src/components/VoteManage/VoteCreate.tsx
  BanChan_FE/packages/Web/src/components/VoteManage/VoteDetail.tsx
  BanChan_FE/packages/Web/src/pages/KakaoCallback.tsx
  BanChan_FE/packages/Web/src/pages/LoginPage.tsx
  BanChan_FE/packages/Web/src/pages/UserDetailForm.tsx
Due: Build and Deploy Frontend

[Feat] console로그 제거
  BanChan_FE/packages/Mobile/src/components/Community/Notice/NoticeList.tsx
  BanChan_FE/packages/Mobile/src/components/oauthlogin/KakaoCallback.tsx
  BanChan_FE/packages/Mobile/src/mobileapi/VoteAPI.ts
  BanChan_FE/packages/Web/src/api/VoteAPI.ts
  BanChan_FE/packages/Web/src/components/CRUD/Detail.tsx
  BanChan_FE/packages/Web/src/components/CRUD/Write.tsx
  BanChan_FE/packages/Web/src/components/Community/Notice.tsx
  BanChan_FE/packages/Web/src/components/MeetingManage/CreateMeeting.tsx
  BanChan_FE/packages/Web/src/components/MeetingManage/FinishedMeeting.tsx
  BanChan_FE/packages/Web/src/components/UserDetailForm.tsx
  BanChan_FE/packages/Web/src/components/VoteManage/ActiveVote.tsx
Due: Build and Deploy Frontend

Path conditions:
  Build and Deploy Backend: any of: Banchan/**
  Build and Deploy Frontend: any of: BanChan_FE/**
