Repository wodyddldl333/banchan: changes, and which Jenkins stages are due for each by the changed paths.
All: Build and Deploy Backend, Build and Deploy Frontend

Jenkinsfile:

pipeline {
    agent any

    environment {
        GIT_CREDENTIAL_ID = 'pwd-gitlab-ssafy'
    }

    stages {
        stage('Checkout') {
            steps {
                script {
                    git url: 'https://lab.ssafy.com/s11-webmobile1-sub2/S11P12E105.git', branch: 'production', credentialsId: GIT_CREDENTIAL_ID
                    sh '''
                    cd /home/S11P12E105
                    sudo git pull
                    '''     
                }
                
            }
        }
        stage('Build and Deploy Backend') {
            when {
                changeset "Banchan/**"
            }
            steps {
                script {
                    sh '''
                    cd /home/S11P12E105
                    cd docker-compose
                    sudo docker-compose -f docker-compose-back.yml build --no-cache 
                    sudo docker stop banchan_back1 || true
                    sudo docker stop banchan_back2 || true
                    sudo docker rm banchan_back1 || true
                    sudo docker rm banchan_back2 || true
                    sudo docker image prune -a -f
                    sudo docker-compose -f docker-compose-back.yml up -d
                    '''
                }
            }
        }
        stage('Build and Deploy Frontend') {
            when {
                changeset "BanChan_FE/**"
            }
            steps {
                script {
                    sh '''
                    cd /home/S11P12E105
                    cd docker-compose
                    sudo docker-compose -f docker-compose-front.yml build --no-cache 
                    sudo docker stop banchan_front || true
                    sudo docker rm banchan_front || true
                    sudo docker image prune -a -f
                    sudo docker-compose -f docker-compose-front.yml up -d
                    '''
                }
            }
        }
    }
    post {
        always {
            cleanWs()
        }
    }
}

Commit
  BanChan_FE/packages/Mobile/src/components/Meeting/ControlPanels.tsx
  BanChan_FE/packages/Mobile/src/components/Meeting/MeetingPage.tsx
  BanChan_FE/packages/Mobile/src/components/Meeting/SubscribeList.tsx
  BanChan_FE/packages/Mobile/src/components/Meeting/Test.tsx
  BanChan_FE/packages/Mobile/src/components/Meeting/ThumbnailPlayer.tsx
  BanChan_FE/packages/Mobile/src/router/router.tsx
  BanChan_FE/packages/Web/src/components/MeetingManage/CreateMeeting.tsx
  BanChan_FE/packages/Web/src/pages/MeetingPage.tsx
Due: Build and Deploy Frontend

Commits
  BanChan_FE/packages/Mobile/src/components/Meeting/Test.tsx
Due: Build and Deploy Frontend

[Feat] 웹 로그아웃 UI 수정
  BanChan_FE/packages/Web/src/components/Buttons/LogoutButton.tsx
  BanChan_FE/packages/Web/src/components/MainSideBar.tsx
Due: Build and Deploy Frontend

[Env] 더미데이터 변경
  Banchan/src/main/resources/data.sql
  Banchan/src/main/resources/data_ha.sql
Due: Build and Deploy Backend

[Fix] 회원 정보 수정 API 수정 및 투표 Advice
  Banchan/src/main/java/com/__105/Banchan/user/controller/UserController.java
  Banchan/src/main/java/com/__105/Banchan/user/service/UserService.java
  Banchan/src/main/java/com/__105/Banchan/user/service/impl/UserServiceImpl.java
  Banchan/src/main/java/com/__105/Banchan/vote/exception/VoteErrorCode.java
  Banchan/src/main/java/com/__105/Banchan/vote/exception/VoteErrorResponse.java
  Banchan/src/main/java/com/__105/Banchan/vote/exception/VoteException.java
  Banchan/src/main/java/com/__105/Banchan/vote/exception/VoteExceptionHandler.java
  Banchan/src/main/java/com/__105/Banchan/vote/service/VoteServiceImpl.java
Due: Build and Deploy Backend

[Fix] Messages
  BanChan_FE/package-lock.json
  BanChan_FE/packages/Mobile/package.json
  BanChan_FE/packages/Mobile/src/components/Meeting/MeetingHome.tsx
  BanChan_FE/packages/Mobile/src/router/router.tsx
  BanChan_FE/packages/Web/package.json
  BanChan_FE/packages/Web/src/components/SendMessage.tsx
  BanChan_FE/packages/Web/src/pages/MeetingPage.tsx
  BanChan_FE/packages/Web/src/router/router.tsx
Due: Build and Deploy Frontend

[Fix]회원정보
  BanChan_FE/packages/Mobile/src/pages/Home.tsx
  BanChan_FE/packages/Mobile/src/pages/MyPage.tsx
  BanChan_FE/packages/Web/src/components/UserManage/Approval.tsx
Due: Build and Deploy Frontend

Commits
  BanChan_FE/package-lock.json
  BanChan_FE/packages/Mobile/package.json
  BanChan_FE/packages/Web/package.json
Due: Build and Deploy Frontend

Commits
  BanChan_FE/packages/Mobile/package.json
  BanChan_FE/packages/Mobile/src/pages/FirstPage.tsx
  BanChan_FE/packages/Web/package.json
Due: Build and Deploy Frontend

Commits
  BanChan_FE/packages/Mobile/package.json
  BanChan_FE/packages/Web/package.json
Due: Build and Deploy Frontend

[Fix] WebRTC Token PermitAll
  Banchan/src/main/java/com/__105/Banchan/auth/config/SecurityConfig.java
Due: Build and Deploy Backend

[Feat] 일부 수정
  BanChan_FE/packages/Mobile/src/router/router.tsx
Due: Build and Deploy Frontend

Commits
  BanChan_FE/packages/Mobile/tsconfig.app.json
  BanChan_FE/packages/Web/tsconfig.app.json
Due: Build and Deploy Frontend

Commits
  BanChan_FE/package-lock.json
  BanChan_FE/packages/Mobile/package.json
  BanChan_FE/packages/Mobile/tsconfig.app.json
  BanChan_FE/packages/Web/package.json
  BanChan_FE/packages/Web/src/router/router.tsx
Due: Build and Deploy Frontend

[fix] return
  BanChan_FE/packages/Web/src/components/SendMessage.tsx
  BanChan_FE/packages/Web/src/pages/MeetingPage.tsx
Due: Build and Deploy Frontend

Commits
  BanChan_FE/packages/Mobile/src/router/router.tsx
  BanChan_FE/packages/Web/src/components/SendMessage.tsx
  BanChan_FE/packages/Web/src/router/router.tsx
Due: Build and Deploy Frontend

Commits
  BanChan_FE/packages/Web/src/pages/MeetingPage.tsx
Due: Build and Deploy Frontend

[Fix] firstpage 수정
  BanChan_FE/packages/Mobile/src/pages/Home.tsx
  BanChan_FE/packages/Mobile/src/pages/MyPage.tsx
Due: Build and Deploy Frontend

Commits
  BanChan_FE/packages/Web/src/components/MeetingManage/ReservedMeeting.tsx
  BanChan_FE/packages/Web/src/pages/MeetingPage.tsx
Due: Build and Deploy Frontend

SMS
  BanChan_FE/packages/Web/src/pages/MeetingPage.tsx
Due: Build and Deploy Frontend

[Dep] 배포 관련 파일 삭제 및 산출물 관리 폴더 생성
  .gitignore
  docker-compose/Dockerfile
  docker-compose/docker-compose-back-dev.yml
  docker-compose/docker-compose-back.yml
  docker-compose/docker-compose-front-mobile.yml
  docker-compose/docker-compose-front-web.yml
  docker-compose/docker-compose-jenkins.yml
  docker-compose/docker-compose-rvproxy.yml
  exec/포팅매뉴얼.pdf
  nginx/Dockerfile
  nginx/nginx.conf
  shellcode/back_all_reject.sh
  shellcode/back_all_restart.sh
  shellcode/back_all_up.sh
  shellcode/back_reject.sh
  shellcode/back_restart.sh
  shellcode/back_up.sh
  shellcode/front_mobilde_reject.sh
  shellcode/front_mobilde_restart.sh
  shellcode/front_mobilde_up.sh
  shellcode/front_reject.sh
  shellcode/front_restart.sh
  shellcode/front_up.sh
  shellcode/jenkins_reject.sh
  shellcode/jenkins_restart.sh
  shellcode/jenkins_up.sh
  shellcode/openvidu_reject.sh
  shellcode/reverse_reject.sh
  shellcode/reverse_restart.sh
  shellcode/reverse_up.sh
Due: none

[Fix]mobile mypage 수정
  BanChan_FE/packages/Mobile/src/pages/MyPage.tsx
Due: Build and Deploy Frontend

Commit
  BanChan_FE/packages/Web/src/pages/MeetingPage.tsx
Due: Build and Deploy Frontend

Commit
  BanChan_FE/packages/Mobile/src/components/Meeting/JoinSession.tsx
  BanChan_FE/packages/Web/src/pages/MeetingPage.tsx
Due: Build and Deploy Frontend

[Fix] approval, manage page 수정
  BanChan_FE/packages/Web/src/components/UserManage/Manage.tsx
Due: Build and Deploy Frontend

Commits
  BanChan_FE/packages/Mobile/src/components/Meeting/JoinSession.tsx
  BanChan_FE/packages/Mobile/src/router/router.tsx
  BanChan_FE/packages/Web/src/pages/MeetingPage.tsx
Due: Build and Deploy Frontend

Commits
  BanChan_FE/packages/Mobile/src/components/Meeting/SessionJoinPage.tsx
Due: Build and Deploy Frontend

Commit
  BanChan_FE/packages/Mobile/src/components/Meeting/SessionJoinPage.tsx
  BanChan_FE/packages/Mobile/src/router/router.tsx
Due: Build and Deploy Frontend

[Docs] 포팅매뉴얼 추가 및 관련 파일 추가
  Banchan/credentials.json
  exec/resources/image 1.png
  exec/resources/image 2.png
  exec/resources/image 3.png
  exec/resources/image 4.png
  exec/resources/image 5.png
  exec/resources/image 6.png
  exec/resources/image.png
  exec/포팅매뉴얼.md
  exec/포팅매뉴얼.pdf
Due: Build and Deploy Backend

[Docs] 리소스파일 이름 변경
  exec/resources/folder_all.png
  exec/resources/folder_back.png
  exec/resources/folder_docker.png
  exec/resources/folder_mobile.png
  exec/resources/folder_rev.png
  exec/resources/folder_shell.png
  exec/resources/folder_web.png
  exec/포팅매뉴얼.md
Due: none

[Feat] OTP 구현
  BanChan_FE/packages/Mobile/src/components/Vote/newDrawer.tsx
  BanChan_FE/packages/Mobile/src/pages/Home.tsx
Due: Build and Deploy Frontend

[Fix] 에러 해결(의존성 에러 해결)
  BanChan_FE/package-lock.json
  BanChan_FE/packages/Mobile/package.json
Due: Build and Deploy Frontend

[Fix] Auth 관련 security 설정
  Banchan/src/main/java/com/__105/Banchan/auth/config/SecurityConfig.java
Due: Build and Deploy Backend
