Repository wodyddldl333/banchan: changes, and which Jenkins stages are due for each by the changed paths.
All: Build and Deploy Backend, Build and Deploy Frontend

Build and Deploy Backend:
              steps {
                  script {
                      sh '''
                      cd /home/S11P12E105
                      cd docker-compose
                      sudo docker-compose -f docker-compose-back.yml build --no-cache 
                      sudo docker stop banchan_back1 || true
  ...

Build and Deploy Frontend:
              steps {
                  script {
                      sh '''
                      cd /home/S11P12E105
                      cd docker-compose
                      sudo docker-compose -f docker-compose-front.yml build --no-cache 
                      sudo docker stop banchan_front || true
  ...

[Feat] 오류 수정
  BanChan_FE/package-lock.json
  BanChan_FE/packages/Mobile/src/components/oauthlogin/KakaoCallback.tsx
  BanChan_FE/packages/Web/src/components/CRUD/Write.tsx
  BanChan_FE/packages/Web/src/components/MeetingManage/FinishedMeeting.tsx
  BanChan_FE/packages/Web/src/components/UserDetailForm.tsx
  BanChan_FE/packages/Web/src/pages/UserDetailForm.tsx
Due: Build and Deploy Frontend

[Docs] 리드미 수정
  README.md
  exec/resources/김동건.png
  exec/resources/김동건1.png
Due: none

[Docs] 리드미 수정
  README.md
Due: none

Commits
  BanChan_FE/packages/Web/src/components/MeetingManage/FinishedMeeting.tsx
Due: Build and Deploy Frontend

[Feat] console log 불필요 제거
  BanChan_FE/packages/Mobile/index.html
  BanChan_FE/packages/Mobile/src/components/Community/Ask/AskDetail.tsx
  BanChan_FE/packages/Mobile/src/components/Community/Ask/AskList.tsx
  BanChan_FE/packages/Mobile/src/components/Community/Ask/AskWrite.tsx
  BanChan_FE/packages/Mobile/src/components/Community/Notice/NoticeDetail.tsx
  BanChan_FE/packages/Mobile/src/components/Meeting/ControlPanels.tsx
  BanChan_FE/packages/Mobile/src/components/Meeting/MeetingHome.tsx
  BanChan_FE/packages/Mobile/src/components/Meeting/MeetingPage.tsx
  BanChan_FE/packages/Mobile/src/components/Meeting/SessionJoinPage.tsx
  BanChan_FE/packages/Mobile/src/components/Vote/ShowVote.tsx
  BanChan_FE/packages/Mobile/src/components/Vote/SwipeableContent.tsx
  BanChan_FE/packages/Mobile/src/components/Vote/VoteList.tsx
  BanChan_FE/packages/Mobile/src/components/Vote/VoteResult.tsx
  BanChan_FE/packages/Mobile/src/components/Vote/newDrawer.tsx
  BanChan_FE/packages/Web/src/OpenviduSession.tsx
  BanChan_FE/packages/Web/src/components/CRUD/Detail.tsx
  BanChan_FE/packages/Web/src/components/MeetingManage/FinishedMeeting.tsx
  BanChan_FE/packages/Web/src/components/VoteManage/VoteCreate.tsx
  BanChan_FE/packages/Web/src/components/WebRTC/ControlPanels.tsx
  BanChan_FE/packages/Web/src/pages/LoginPage.tsx
  BanChan_FE/packages/Web/src/pages/MeetingPage.tsx
  BanChan_FE/packages/Web/src/pages/SessionJoinPage.tsx
  BanChan_FE/packages/Web/src/router/router.tsx
Due: Build and Deploy Frontend

Commit
  BanChan_FE/packages/Web/src/components/MeetingManage/FinishedMeeting.tsx
Due: Build and Deploy Frontend

[Docs] 외부서비스 파일 생성 및 폴더명 변경
  exec/dumpdata/data.sql
  exec/dumpdata/data_ha.sql
  exec/외부서비스/GPT-4omini.md
  exec/외부서비스/Oauth2.md
  exec/외부서비스/STT.md
  exec/외부서비스/openvidu.md
Due: none

[Docs] 시연시나리오 파일 생성
  exec/시연시나리오.md
Due: none

[Feat] 일부 수정
  BanChan_FE/packages/Mobile/src/Types.ts
  BanChan_FE/packages/Mobile/src/components/Vote/ShowVote.tsx
  BanChan_FE/packages/Mobile/src/components/Vote/VoteList.tsx
  BanChan_FE/packages/Mobile/src/components/Vote/newDrawer.tsx
  BanChan_FE/packages/Web/src/OpenviduSession.tsx
Due: Build and Deploy Frontend

[Feat] 일부 오류 수정
  BanChan_FE/packages/Mobile/src/pages/MyPage.tsx
Due: Build and Deploy Frontend

[Refactor] API 수정
  Banchan/src/main/java/com/__105/Banchan/user/dto/UserResponseDto.java
  Banchan/src/main/java/com/__105/Banchan/user/service/impl/UserServiceImpl.java
  Banchan/src/main/java/com/__105/Banchan/vote/Dto/VoteResponseDto.java
  Banchan/src/main/java/com/__105/Banchan/vote/service/VoteServiceImpl.java
  Banchan/src/main/resources/data.sql
Due: Build and Deploy Backend

[Feat] 네비게이트 수정
  BanChan_FE/packages/Mobile/src/components/Header.tsx
  BanChan_FE/packages/Mobile/src/hooks/useCustomNavigation.tsx
Due: Build and Deploy Frontend

[Refactor] API 수정
  Banchan/src/main/resources/data.sql
Due: Build and Deploy Backend

[Docs] 시연시나리오 파일 수정
  exec/시연시나리오.md
  exec/시연시나리오.pdf
Due: none

[Feat] 건의사항 첨부파일 삭제
  BanChan_FE/packages/Mobile/index.html
  BanChan_FE/packages/Mobile/src/components/Community/Ask/AskDetail.tsx
  BanChan_FE/packages/Web/index.html
  BanChan_FE/packages/Web/src/components/CRUD/Detail.tsx
  BanChan_FE/packages/Web/src/components/MainHeader.tsx
Due: Build and Deploy Frontend

[Fix] 네비게이트 버그 수정
  BanChan_FE/packages/Mobile/src/components/Community/Ask/AskWrite.tsx
  BanChan_FE/packages/Mobile/src/hooks/useCustomNavigation.tsx
Due: Build and Deploy Frontend

[Feat] 문자 메세지 번호 추가
  BanChan_FE/packages/Web/src/pages/MeetingPage.tsx
Due: Build and Deploy Frontend

[Env] 덤프데이터 변경
  Banchan/src/main/resources/data.sql
  Banchan/src/main/resources/data_ha.sql
Due: Build and Deploy Backend

Commit
  BanChan_FE/packages/Mobile/src/components/Meeting/MeetingList.tsx
  BanChan_FE/packages/Mobile/src/components/Vote/FinishedVote.tsx
  BanChan_FE/packages/Web/src/components/MeetingManage/FinishedMeeting.tsx
Due: Build and Deploy Frontend

[Feat] 마이페이지 수정, 메인 수정,투표율 수정
  BanChan_FE/packages/Mobile/src/Types.ts
  BanChan_FE/packages/Mobile/src/components/Vote/FinishedVote.tsx
  BanChan_FE/packages/Mobile/src/pages/Home.tsx
  BanChan_FE/packages/Mobile/src/pages/MyPage.tsx
  BanChan_FE/packages/Web/src/Type.ts
Due: Build and Deploy Frontend

[Feat] 모바일 오류 수정
  BanChan_FE/packages/Mobile/src/components/Vote/FinishedVote.tsx
  BanChan_FE/packages/Mobile/src/pages/Home.tsx
Due: Build and Deploy Frontend

[Fix] 빌드 에러 수정
  BanChan_FE/packages/Mobile/src/pages/Home.tsx
Due: Build and Deploy Frontend

Commit
  BanChan_FE/packages/Mobile/src/components/Vote/FinishedVote.tsx
Due: Build and Deploy Frontend

Commits
  BanChan_FE/packages/Mobile/src/components/Vote/FinishedVote.tsx
  BanChan_FE/packages/Web/src/components/MeetingManage/FinishedMeeting.tsx
Due: Build and Deploy Frontend

Commits
  BanChan_FE/packages/Mobile/src/components/Vote/FinishedVote.tsx
Due: Build and Deploy Frontend

[Docs] 외부기술 문서 작성 및 리드미 추가작성
  README.md
  exec/resources/ChatGPT.png
  exec/resources/STT.png
  exec/resources/개인정보동의항목.png
  exec/resources/리다이렉트.png
  exec/resources/시스템.png
  exec/resources/카카오시크릿키.png
  exec/resources/클라이언트시크릿키.png
  exec/외부서비스/GPT-4omini.md
  exec/외부서비스/Oauth2.md
  exec/외부서비스/STT.md
  exec/외부서비스/openvidu.md
Due: none

Path conditions:
  Build and Deploy Backend: any of: Banchan/**
  Build and Deploy Frontend: any of: BanChan_FE/**
