Repository wodyddldl333/banchan: changes, and which Jenkins stages are due for each by the changed paths.
All: Build and Deploy Backend, Build and Deploy Frontend

Jenkinsfile:

pipeline {
    agent any

    environment {
        GIT_CREDENTIAL_ID = 'pwd-gitlab-ssafy'
    }

    stages {
        stage('Checkout') {
            steps {
                git url: 'https://lab.ssafy.com/s11-webmobile1-sub2/S11P12E105.git', branch: 'production', credentialsId: GIT_CREDENTIAL_ID
            }
        }
        stage('Build and Deploy Backend') {
            when {
                changeset "Banchan/**"
            }
            steps {
                script {
                    sh '''
                    cd /home/S11P12E105
                    sudo git pull
                    cd docker-compose
                    sudo docker stop banchan_back1
                    sudo docker stop banchan_back2
                    sudo docker rm banchan_back1
                    sudo docker rm banchan_back2
                    sudo docker rmi docker-compose-banchan_back1
                    sudo docker rmi docker-compose-banchan_back2
                    sudo docker-compose -f docker-compose-back.yml up -d
                    '''
                }
            }
        }
        stage('Build and Deploy Frontend') {
            when {
                changeset "BanChan_FE/**"
            }
            steps {
                script {
                    sh '''
                    cd /home/S11P12E105
                    sudo git pull
                    cd docker-compose
                    sudo docker stop banchan_front
                    sudo docker rm banchan_front
                    sudo docker rmi docker-compose_front_dt
                    sudo docker-compose -f docker-compose-front.yml up -d
                    '''
                }
            }
        }
    }
    post {
        always {
            cleanWs()
        }
    }
}

[Feat] 유저 도메인 변경
  Banchan/src/main/java/com/__105/Banchan/user/domain/User.java
Due: Build and Deploy Backend

[Feat] 유저 도메인 변경
  Banchan/src/main/java/com/__105/Banchan/auth/service/impl/AuthServiceImpl.java
Due: Build and Deploy Backend

[Feet] 에러 코드 추가
  Banchan/src/main/java/com/__105/Banchan/common/exception/ErrorCode.java
Due: Build and Deploy Backend

[Feat] 로그인 유저 정보 조회 구현
  Banchan/src/main/java/com/__105/Banchan/auth/dto/SecurityUserDto.java
  Banchan/src/main/java/com/__105/Banchan/auth/jwt/JwtAuthFilter.java
  Banchan/src/main/java/com/__105/Banchan/user/controller/UserController.java
  Banchan/src/main/java/com/__105/Banchan/user/repository/UserRepository.java
  Banchan/src/main/java/com/__105/Banchan/user/service/UserService.java
  Banchan/src/main/java/com/__105/Banchan/user/service/impl/UserServiceImpl.java
Due: Build and Deploy Backend

[Feat] 유저 정보 초기설정(이름,전화번호) 구현
  Banchan/src/main/java/com/__105/Banchan/user/controller/UserController.java
  Banchan/src/main/java/com/__105/Banchan/user/dto/SignupRequestDto.java
  Banchan/src/main/java/com/__105/Banchan/user/repository/UserRepository.java
  Banchan/src/main/java/com/__105/Banchan/user/service/UserService.java
  Banchan/src/main/java/com/__105/Banchan/user/service/impl/UserServiceImpl.java
Due: Build and Deploy Backend

[Env] 젠킨스파일 오타 수정
  Jenkinsfile
Due: none

[Env] gradle-wrapper프로퍼티즈 타임아웃 연장
  Banchan/gradle/wrapper/gradle-wrapper.properties
Due: Build and Deploy Backend

[fix] vote 오류 수정
  Banchan/src/main/java/com/__105/Banchan/user/domain/User.java
  Banchan/src/main/java/com/__105/Banchan/user/repository/UserRepository.java
  Banchan/src/main/java/com/__105/Banchan/vote/Entity/User.java
  Banchan/src/main/java/com/__105/Banchan/vote/Entity/UserApartment.java
  Banchan/src/main/java/com/__105/Banchan/vote/Entity/Vote.java
  Banchan/src/main/java/com/__105/Banchan/vote/Entity/VoteParticipant.java
  Banchan/src/main/java/com/__105/Banchan/vote/Entity/VoteResult.java
  Banchan/src/main/java/com/__105/Banchan/vote/repository/UserRepository.java
  Banchan/src/main/java/com/__105/Banchan/vote/service/VoteServiceImpl.java
Due: Build and Deploy Backend

[Env] ddl-auto-> update, redis.conf경로수정
  Banchan/src/main/resources/application.yml
  docker-compose/docker-compose-back.yml
Due: Build and Deploy Backend

[Feat] 전화번호 중복 확인 구현
  Banchan/src/main/java/com/__105/Banchan/user/controller/UserController.java
  Banchan/src/main/java/com/__105/Banchan/user/domain/User.java
  Banchan/src/main/java/com/__105/Banchan/user/service/UserService.java
  Banchan/src/main/java/com/__105/Banchan/user/service/impl/UserServiceImpl.java
Due: Build and Deploy Backend

[Env] 젠킨스파일 변화감지후 풀떙기기
  Jenkinsfile
Due: none

[Env] 젠킨스파일 변화감지후 풀땡기기
  Jenkinsfile
Due: none

[Env] 투표오류 수정
  Banchan/src/main/java/com/__105/Banchan/user/domain/User.java
  Banchan/src/main/java/com/__105/Banchan/user/repository/UserRepository.java
  Banchan/src/main/java/com/__105/Banchan/vote/Entity/UserApartment.java
  Banchan/src/main/java/com/__105/Banchan/vote/Entity/Vote.java
  Banchan/src/main/java/com/__105/Banchan/vote/Entity/VoteParticipant.java
  Banchan/src/main/java/com/__105/Banchan/vote/Entity/VoteResult.java
  Banchan/src/main/java/com/__105/Banchan/vote/service/VoteServiceImpl.java
  Banchan/src/main/resources/application.yml
Due: Build and Deploy Backend

[fix] vote 관련 오류 수정
  Banchan/src/main/java/com/__105/Banchan/vote/Entity/User.java
  Banchan/src/main/java/com/__105/Banchan/vote/repository/UserRepository.java
Due: Build and Deploy Backend

[Feat] 아파트 정보 초기 설정 구현(wip)
  Banchan/src/main/java/com/__105/Banchan/user/controller/UserController.java
  Banchan/src/main/java/com/__105/Banchan/user/domain/Apartment.java
  Banchan/src/main/java/com/__105/Banchan/user/domain/User.java
  Banchan/src/main/java/com/__105/Banchan/user/domain/UserApartment.java
  Banchan/src/main/java/com/__105/Banchan/user/dto/UserAptRequestDto.java
  Banchan/src/main/java/com/__105/Banchan/user/repository/AptRepository.java
  Banchan/src/main/java/com/__105/Banchan/user/repository/UserAptRepository.java
  Banchan/src/main/java/com/__105/Banchan/user/service/UserService.java
  Banchan/src/main/java/com/__105/Banchan/user/service/impl/UserServiceImpl.java
  Banchan/src/main/resources/data.sql
Due: Build and Deploy Backend

[Feat] 유저, 관리자 API
  Banchan/src/main/java/com/__105/Banchan/user/controller/UserController.java
  Banchan/src/main/java/com/__105/Banchan/user/domain/Apartment.java
  Banchan/src/main/java/com/__105/Banchan/user/domain/User.java
  Banchan/src/main/java/com/__105/Banchan/user/domain/UserApartment.java
  Banchan/src/main/java/com/__105/Banchan/user/dto/UserAptRequestDto.java
  Banchan/src/main/java/com/__105/Banchan/user/repository/AptRepository.java
  Banchan/src/main/java/com/__105/Banchan/user/repository/UserAptRepository.java
  Banchan/src/main/java/com/__105/Banchan/user/repository/UserRepository.java
  Banchan/src/main/java/com/__105/Banchan/user/service/UserService.java
  Banchan/src/main/java/com/__105/Banchan/user/service/impl/UserServiceImpl.java
  Banchan/src/main/resources/application.yml
  Banchan/src/main/resources/data.sql
Due: Build and Deploy Backend

[Feat] 게시글 조회 틀 수정
  BanChan_FE/src/components/MainSideBar.tsx
  BanChan_FE/src/components/TempTable.tsx
  BanChan_FE/src/components/TempTableRow.tsx
  BanChan_FE/src/components/VoteManage/ActiveVote.tsx
  BanChan_FE/src/components/VoteManage/FinishedVote.tsx
  BanChan_FE/src/components/VoteManage/VoteCreate.tsx
  BanChan_FE/src/pages/VoteManagePage.tsx
  BanChan_FE/src/router/router.tsx
Due: Build and Deploy Frontend

[Env] reset into production
  Banchan/gradle/wrapper/gradle-wrapper.properties
  Banchan/src/main/java/com/__105/Banchan/user/controller/UserController.java
  Banchan/src/main/java/com/__105/Banchan/user/domain/Apartment.java
  Banchan/src/main/java/com/__105/Banchan/user/domain/User.java
  Banchan/src/main/java/com/__105/Banchan/user/domain/UserApartment.java
  Banchan/src/main/java/com/__105/Banchan/user/dto/UserAptRequestDto.java
  Banchan/src/main/java/com/__105/Banchan/user/repository/AptRepository.java
  Banchan/src/main/java/com/__105/Banchan/user/repository/UserAptRepository.java
  Banchan/src/main/java/com/__105/Banchan/user/repository/UserRepository.java
  Banchan/src/main/java/com/__105/Banchan/user/service/UserService.java
  Banchan/src/main/java/com/__105/Banchan/user/service/impl/UserServiceImpl.java
  Banchan/src/main/resources/application.yml
  Banchan/src/main/resources/data.sql
Due: Build and Deploy Backend

[Env] vote, user 중복 엔티티 제거 및 수정
  Banchan/src/main/java/com/__105/Banchan/user/domain/Apartment.java
  Banchan/src/main/java/com/__105/Banchan/user/domain/UserApartment.java
  Banchan/src/main/java/com/__105/Banchan/vote/Entity/Apartment.java
  Banchan/src/main/java/com/__105/Banchan/vote/Entity/UserApartment.java
  Banchan/src/main/java/com/__105/Banchan/vote/repository/ApartmentRepository.java
  Banchan/src/main/java/com/__105/Banchan/vote/repository/UserApartmentRepository.java
Due: Build and Deploy Backend

[Env] vote, user 충돌 제거
  Banchan/src/main/java/com/__105/Banchan/user/controller/UserController.java
  Banchan/src/main/java/com/__105/Banchan/user/domain/Apartment.java
  Banchan/src/main/java/com/__105/Banchan/user/domain/User.java
  Banchan/src/main/java/com/__105/Banchan/user/domain/UserApartment.java
  Banchan/src/main/java/com/__105/Banchan/user/dto/UserAptRequestDto.java
  Banchan/src/main/java/com/__105/Banchan/user/repository/AptRepository.java
  Banchan/src/main/java/com/__105/Banchan/user/repository/UserAptRepository.java
  Banchan/src/main/java/com/__105/Banchan/user/service/UserService.java
  Banchan/src/main/java/com/__105/Banchan/user/service/impl/UserServiceImpl.java
  Banchan/src/main/java/com/__105/Banchan/vote/Entity/UserApartment.java
  Banchan/src/main/java/com/__105/Banchan/vote/repository/ApartmentRepository.java
  Banchan/src/main/java/com/__105/Banchan/vote/repository/UserApartmentRepository.java
  Banchan/src/main/resources/data.sql
Due: Build and Deploy Backend

[Env] 배포환경 리소스 삭제
  docker-compose/docker-compose-front.yml
  nginx/nginx.conf
Due: none

[Env] 프론트 개발환경 5173,5174포트 열기
  Banchan/src/main/java/com/__105/Banchan/common/config/WebMvcConfig.java
Due: Build and Deploy Backend

[Refactor] 컴포넌트 구조화
  BanChan_FE/src/components/TempTable.tsx
  BanChan_FE/src/components/TempTableRow.tsx
  BanChan_FE/src/components/VoteManage/ActiveVote.tsx
  BanChan_FE/src/components/VoteManage/FinishedVote.tsx
  BanChan_FE/src/router/router.tsx
Due: Build and Deploy Frontend

[Env] 백엔드 배포환경 프론트 주소 열어주기
  Banchan/src/main/java/com/__105/Banchan/common/config/WebMvcConfig.java
Due: Build and Deploy Backend

[Env] 스웨거 배포주소변경 및 데이터베이스 초기화
  Banchan/src/main/java/com/__105/Banchan/common/config/SwaggerConfig.java
  Banchan/src/main/resources/application.yml
Due: Build and Deploy Backend

[Env] 서버 재시작
  Banchan/README.md
Due: Build and Deploy Backend

[Feat] 유저, 투표 기능 통합(wip)
  Banchan/src/main/java/com/__105/Banchan/auth/config/SecurityConfig.java
  Banchan/src/main/java/com/__105/Banchan/auth/controller/AuthController.java
  Banchan/src/main/java/com/__105/Banchan/auth/dto/SecurityUserDto.java
  Banchan/src/main/java/com/__105/Banchan/auth/jwt/JwtAuthFilter.java
  Banchan/src/main/java/com/__105/Banchan/auth/service/AuthService.java
  Banchan/src/main/java/com/__105/Banchan/auth/service/impl/AuthServiceImpl.java
  Banchan/src/main/java/com/__105/Banchan/user/controller/UserController.java
  Banchan/src/main/java/com/__105/Banchan/user/dto/UserDto.java
  Banchan/src/main/java/com/__105/Banchan/user/dto/UserResponseDto.java
  Banchan/src/main/java/com/__105/Banchan/user/entity/Apartment.java
  Banchan/src/main/java/com/__105/Banchan/user/entity/User.java
  Banchan/src/main/java/com/__105/Banchan/user/entity/UserApartment.java
  Banchan/src/main/java/com/__105/Banchan/user/repository/AptRepository.java
  Banchan/src/main/java/com/__105/Banchan/user/repository/UserAptRepository.java
  Banchan/src/main/java/com/__105/Banchan/user/repository/UserRepository.java
  Banchan/src/main/java/com/__105/Banchan/user/service/UserService.java
  Banchan/src/main/java/com/__105/Banchan/user/service/impl/UserServiceImpl.java
  Banchan/src/main/java/com/__105/Banchan/util/CustomUserDetailsService.java
  Banchan/src/main/java/com/__105/Banchan/vote/Entity/Vote.java
  Banchan/src/main/java/com/__105/Banchan/vote/Entity/VoteParticipant.java
  Banchan/src/main/java/com/__105/Banchan/vote/Entity/VoteResult.java
  Banchan/src/main/java/com/__105/Banchan/vote/repository/ApartmentRepository.java
  Banchan/src/main/java/com/__105/Banchan/vote/repository/UserApartmentRepository.java
  Banchan/src/main/java/com/__105/Banchan/vote/service/VoteServiceImpl.java
  Banchan/src/main/resources/data.sql
Due: Build and Deploy Backend

[Feat] 투표 생성 API 구현
  BanChan_FE/packages/Web/src/components/VoteManage/VoteCreate.tsx
  BanChan_FE/packages/Web/src/components/VoteManage/VoteCreateForm.tsx
  BanChan_FE/packages/Web/src/components/VoteManage/VoteDetail.tsx
  BanChan_FE/packages/Web/src/components/VoteManage/VoteForm.tsx
Due: Build and Deploy Frontend

[Feat] WebRTC just getting started
  BanChan_FE/package-lock.json
  BanChan_FE/package.json
  BanChan_FE/packages/Mobile/index.html
  BanChan_FE/packages/Mobile/package.json
  BanChan_FE/packages/Mobile/src/App.tsx
  BanChan_FE/packages/Mobile/src/components/UserSettings/HomeInfo.tsx
  BanChan_FE/packages/Mobile/src/components/Vote/Drawer.tsx
  BanChan_FE/packages/Mobile/src/components/Vote/ShowVote.tsx
  BanChan_FE/packages/Mobile/src/components/Vote/SwipeableContent.tsx
  BanChan_FE/packages/Mobile/src/components/Vote/VoteList.tsx
  BanChan_FE/packages/Mobile/src/pages/MyPage.tsx
  BanChan_FE/packages/Web/index.html
  BanChan_FE/packages/Web/package-lock.json
  BanChan_FE/packages/Web/package.json
  BanChan_FE/packages/Web/src/OpenviduSession.tsx
  BanChan_FE/packages/Web/src/components/MeetingManage/CreateMeeting.tsx
  BanChan_FE/packages/Web/src/components/WebRTC/VideoPlayer.tsx
  BanChan_FE/packages/Web/src/pages/AudioComponent.tsx
  BanChan_FE/packages/Web/src/pages/MeetingPage.tsx
  BanChan_FE/packages/Web/src/pages/VideoConference.tsx
  BanChan_FE/packages/Web/src/router/router.tsx
Due: Build and Deploy Frontend

[Feat] 유저, 투표 통합 완료 및 에러 처리 추가
  Banchan/src/main/java/com/__105/Banchan/common/exception/ErrorCode.java
  Banchan/src/main/java/com/__105/Banchan/user/dto/UserAptRequestDto.java
  Banchan/src/main/java/com/__105/Banchan/user/service/impl/UserServiceImpl.java
  Banchan/src/main/java/com/__105/Banchan/util/CustomUserDetailsService.java
Due: Build and Deploy Backend

[Feat] 투표 진행 구현
  BanChan_FE/packages/Web/src/components/VoteManage/VoteDetail.tsx
  BanChan_FE/packages/Web/src/components/VoteManage/VoteForm.tsx
Due: Build and Deploy Frontend

[Feat] 관리자 API 구현(wip)
  Banchan/src/main/java/com/__105/Banchan/admin/controller/AdminController.java
  Banchan/src/main/java/com/__105/Banchan/admin/dto/ApprovalRequestDto.java
  Banchan/src/main/java/com/__105/Banchan/admin/dto/UserListDto.java
  Banchan/src/main/java/com/__105/Banchan/admin/service/AdminService.java
  Banchan/src/main/java/com/__105/Banchan/admin/service/impl/AdminServiceImpl.java
  Banchan/src/main/java/com/__105/Banchan/user/enums/Role.java
Due: Build and Deploy Backend

[Env] 컨테이너 외부포트 삭제
  docker-compose/docker-compose-back.yml
  docker-compose/docker-compose-front.yml
  docker-compose/docker-compose-jenkins.yml
Due: none

[Env] 포트설정 테스트
  BanChan_FE/README.md
  Banchan/README.md
Due: Build and Deploy Backend, Build and Deploy Frontend

[Env] 포트 설정 ports->expose
  docker-compose/docker-compose-back.yml
  docker-compose/docker-compose-front.yml
  docker-compose/docker-compose-jenkins.yml
Due: none

[Env] 포트 설정 도커컴포즈 백1 ports->expose
  docker-compose/docker-compose-back.yml
Due: none

[Feat] WebRTC basic settings almost done
  BanChan_FE/packages/Web/src/components/MeetingManage/CreateMeeting.tsx
  BanChan_FE/packages/Web/src/pages/MeetingPage.tsx
Due: Build and Deploy Frontend
