Repository wodyddldl333/banchan: changes, and which Jenkins stages are due for each by the changed paths.
All: Build and Deploy Backend, Build and Deploy Frontend

Jenkinsfile:

pipeline {
    agent any

    environment {
        GIT_CREDENTIAL_ID = 'pwd-gitlab-ssafy'
    }

    stages {
        stage('Checkout') {
            steps {
                script {
                    git url: 'https://lab.ssafy.com/s11-webmobile1-sub2/S11P12E105.git', branch: 'production', credentialsId: GIT_CREDENTIAL_ID
                    sh '''
                    cd /home/S11P12E105
                    sudo git pull
                    '''     
                }
                
            }
        }
        stage('Build and Deploy Backend') {
            when {
                changeset "Banchan/**"
            }
            steps {
                script {
                    sh '''
                    cd /home/S11P12E105
                    cd docker-compose
                    sudo docker-compose -f docker-compose-back.yml build --no-cache 
                    sudo docker stop banchan_back1 || true
                    sudo docker stop banchan_back2 || true
                    sudo docker rm banchan_back1 || true
                    sudo docker rm banchan_back2 || true
                    sudo docker image prune -a -f
                    sudo docker-compose -f docker-compose-back.yml up -d
                    '''
                }
            }
        }
        stage('Build and Deploy Frontend') {
            when {
                changeset "BanChan_FE/**"
            }
            steps {
                script {
                    sh '''
                    cd /home/S11P12E105
                    cd docker-compose
                    sudo docker-compose -f docker-compose-front.yml build --no-cache 
                    sudo docker stop banchan_front || true
                    sudo docker rm banchan_front || true
                    sudo docker image prune -a -f
                    sudo docker-compose -f docker-compose-front.yml up -d
                    '''
                }
            }
        }
    }
    post {
        always {
            cleanWs()
        }
    }
}

[Env] nginx.conf 프론트 경로/index.html 추가
  nginx/nginx.conf
Due: none

[Env] nginx.conf 프론트 경로/index.html 삭제
  nginx/nginx.conf
Due: none

[Env] 프론트 도커파일 변경
  BanChan_FE/packages/Mobile/Dockerfile
  BanChan_FE/packages/Web/Dockerfile
Due: Build and Deploy Frontend

[Env] 쉘코드 생성
  shellcode/back.sh
  shellcode/front.sh
  shellcode/reverse.sh
Due: none

[Env] 쉘코드 병경
  shellcode/back.sh
  shellcode/front.sh
  shellcode/reverse.sh
Due: none

[Feat] 프론트 모바일 conf생성
  BanChan_FE/packages/Mobile/nginx.conf
  BanChan_FE/packages/Web/Dockerfile
  BanChan_FE/packages/Web/index.html
  BanChan_FE/packages/Web/nginx.conf
Due: Build and Deploy Frontend

[Env] 프론트 도커파일 수정
  BanChan_FE/packages/Mobile/Dockerfile
Due: Build and Deploy Frontend

[Env] 프론트 도커수정 및 도커컴포즈 볼륨 삭제
  BanChan_FE/packages/Mobile/Dockerfile
  BanChan_FE/packages/Web/Dockerfile
  docker-compose/docker-compose-front.yml
Due: Build and Deploy Frontend

[Env] 프론트 도커수정
  BanChan_FE/packages/Mobile/Dockerfile
  BanChan_FE/packages/Web/Dockerfile
  nginx/nginx.conf
Due: Build and Deploy Frontend

[Env] 프론트 쉘코드 분히
  shellcode/front_mobilde.sh
Due: none

[Env] 프론트 프록시 경로 변경
  BanChan_FE/packages/Mobile/nginx.conf
  BanChan_FE/packages/Mobile/vite.config.ts
  shellcode/back.sh
  shellcode/front.sh
  shellcode/front_mobilde.sh
  shellcode/reverse.sh
Due: Build and Deploy Frontend

[Env] 프론트 도커파일및 프록시설정 변경
  BanChan_FE/packages/Mobile/Dockerfile
  BanChan_FE/packages/Mobile/nginx.conf
  BanChan_FE/packages/Web/Dockerfile
  BanChan_FE/packages/Web/nginx.conf
  docker-compose/docker-compose-front.yml
Due: Build and Deploy Frontend

[Env] 프론트 웹버전root 모바일버전alais
  BanChan_FE/packages/Web/nginx.conf
Due: Build and Deploy Frontend

[Env] 쉘코드추가
  shellcode/back_all__restart.sh
  shellcode/back_restart.sh
  shellcode/front_mobilde_restart.sh
  shellcode/front_restart.sh
Due: none

[Env] 쉘코드 변경
  shellcode/back_all__restart.sh
Due: none

[Env] 쉔코드 권한 부여
  shellcode/back_all__restart.sh
  shellcode/back_restart.sh
  shellcode/front_mobilde_restart.sh
  shellcode/front_restart.sh
Due: none

[Env] 쉘코드 추가
  shellcode/back_all_reject.sh
  shellcode/back_all_restart.sh
  shellcode/back_all_up.sh
  shellcode/back_reject.sh
  shellcode/back_up.sh
  shellcode/front_mobilde_reject.sh
  shellcode/front_mobilde_up.sh
  shellcode/front_reject.sh
  shellcode/front_up.sh
  shellcode/reverse_reject.sh
  shellcode/reverse_restart.sh
  shellcode/reverse_up.sh
Due: none

[Env] 쉘코드 추가
  shellcode/jenkins_reject.sh
  shellcode/jenkins_restart.sh
  shellcode/jenkins_up.sh
Due: none

[Env] 젠킨스 이미지 깃 설치 추가
  docker-compose/Dockerfile
Due: none

[Env] 젠킨스 도커파일 변경
  docker-compose/Dockerfile
Due: none

[Env] 백엔드 도커컴포즈파일 수정
  docker-compose/docker-compose-back.yml
Due: none

[Env] 백엔드 도커컴포즈 볼륨수정
  docker-compose/Dockerfile
  docker-compose/docker-compose-back.yml
  shellcode/back_all_reject.sh
  shellcode/back_all_up.sh
  shellcode/back_reject.sh
  shellcode/back_up.sh
  shellcode/front_mobilde_reject.sh
  shellcode/front_mobilde_up.sh
  shellcode/front_reject.sh
  shellcode/front_up.sh
  shellcode/jenkins_reject.sh
  shellcode/jenkins_restart.sh
  shellcode/jenkins_up.sh
  shellcode/reverse_reject.sh
  shellcode/reverse_restart.sh
  shellcode/reverse_up.sh
Due: none

[Env] 젠킨스 .env파일 생성
  BanChan_FE/packages/Mobile/README.MD
  BanChan_FE/packages/Web/README.MD
  Banchan/README.md
Due: Build and Deploy Backend, Build and Deploy Frontend

[Env] 젠킨스 백엔드 실험
  Banchan/README.md
Due: Build and Deploy Backend

[Env] 젠킨스 백엔드 실험
  Banchan/src/main/resources/application.yml
Due: Build and Deploy Backend

[Env] 젠킨스 프론트 웹 실험
  BanChan_FE/packages/Web/README.MD
  Jenkinsfile
Due: Build and Deploy Frontend

[Env] 젠킨스 프론트 웹 실험
  BanChan_FE/packages/Mobile/README.MD
  BanChan_FE/packages/Web/README.MD
  docker-compose/docker-compose-front-mobile.yml
  docker-compose/docker-compose-front-web.yml
Due: Build and Deploy Frontend

[Env] 프론트 OpenVido관련 주석처리
  BanChan_FE/packages/Mobile/index.html
  BanChan_FE/packages/Web/src/components/MeetingManage/ReservedMeeting.tsx
Due: Build and Deploy Frontend

[Env] 프론트 router 주소 수정
  BanChan_FE/packages/Web/src/components/MeetingManage/CreateMeeting.tsx
  BanChan_FE/packages/Web/src/components/MeetingManage/FinishedMeeting.tsx
  BanChan_FE/packages/Web/src/components/MeetingManage/ReservedMeeting.tsx
  BanChan_FE/packages/Web/src/pages/MeetingPage.tsx
  BanChan_FE/packages/Web/src/router/router.tsx
Due: Build and Deploy Frontend

[Env] 프론트 router 주소 수정
  BanChan_FE/packages/Web/src/components/MeetingManage/ReservedMeeting.tsx
Due: Build and Deploy Frontend

[Env] 프론트엔드 JSON homepage 추가
  BanChan_FE/packages/Mobile/package.json
  BanChan_FE/packages/Web/package.json
Due: Build and Deploy Frontend

[Env] 리버스 프록시 설정변경
  nginx/nginx.conf
Due: none

[Env] nginx 설정 변경
  BanChan_FE/packages/Mobile/nginx.conf
Due: Build and Deploy Frontend

[Env] nginx 설정 변경
  BanChan_FE/packages/Mobile/nginx.conf
  nginx/nginx.conf
Due: Build and Deploy Frontend
