Repository wodyddldl333/banchan: changes, and which Jenkins stages are due for each by the changed paths.
All: Build and Deploy Backend, Build and Deploy Frontend

Jenkinsfile:

pipeline {
    agent any

    environment {
        GIT_CREDENTIAL_ID = 'pwd-gitlab-ssafy'
    }

    stages {
        stage('Checkout') {
            steps {
                script {
                    git url: 'https://lab.ssafy.com/s11-webmobile1-sub2/S11P12E105.git', branch: 'production', credentialsId: GIT_CREDENTIAL_ID
                    sh '''
                    cd /home/S11P12E105
                    sudo git pull
                    '''     
                }
                
            }
        }
        stage('Build and Deploy Backend') {
            when {
                changeset "Banchan/**"
            }
            steps {
                script {
                    sh '''
                    cd /home/S11P12E105
                    cd docker-compose
                    sudo docker-compose -f docker-compose-back.yml build --no-cache 
                    sudo docker stop banchan_back1 || true
                    sudo docker stop banchan_back2 || true
                    sudo docker rm banchan_back1 || true
                    sudo docker rm banchan_back2 || true
                    sudo docker image prune -a -f
                    sudo docker-compose -f docker-compose-back.yml up -d
                    '''
                }
            }
        }
        stage('Build and Deploy Frontend') {
            when {
                changeset "BanChan_FE/**"
            }
            steps {
                script {
                    sh '''
                    cd /home/S11P12E105
                    cd docker-compose
                    sudo docker-compose -f docker-compose-front.yml build --no-cache 
                    sudo docker stop banchan_front || true
                    sudo docker rm banchan_front || true
                    sudo docker image prune -a -f
                    sudo docker-compose -f docker-compose-front.yml up -d
                    '''
                }
            }
        }
    }
    post {
        always {
            cleanWs()
        }
    }
}

[Refactor] 공지사항 첨부파일 추가 및 목록 조회 시 조회수 추가
  Banchan/src/main/java/com/__105/Banchan/ask/controller/AskController.java
  Banchan/src/main/java/com/__105/Banchan/notice/controller/NoticeController.java
  Banchan/src/main/java/com/__105/Banchan/notice/dto/NoticeDetailResponse.java
  Banchan/src/main/java/com/__105/Banchan/notice/dto/NoticeListResponse.java
  Banchan/src/main/java/com/__105/Banchan/notice/dto/NoticePostRequest.java
  Banchan/src/main/java/com/__105/Banchan/notice/entitiy/NoticeImage.java
  Banchan/src/main/java/com/__105/Banchan/notice/service/NoticeService.java
  Banchan/src/main/java/com/__105/Banchan/notice/service/NoticeServiceImpl.java
  Banchan/src/main/resources/application.yml
Due: Build and Deploy Backend

[Feat] WebRTC-ing"
  BanChan_FE/packages/Mobile/index.html
  BanChan_FE/packages/Mobile/package.json
  BanChan_FE/packages/Mobile/src/App.css
  BanChan_FE/packages/Mobile/src/Types.ts
  BanChan_FE/packages/Mobile/src/components/Header.tsx
  BanChan_FE/packages/Mobile/src/components/Meeting/CalendarApp.tsx
  BanChan_FE/packages/Mobile/src/components/Meeting/CalendarDrawer.tsx
  BanChan_FE/packages/Mobile/src/components/Meeting/MeetingHome.tsx
  BanChan_FE/packages/Mobile/src/components/Meeting/MeetingList.tsx
  BanChan_FE/packages/Mobile/src/components/UserSettings/HomeInfo.tsx
  BanChan_FE/packages/Mobile/src/components/Vote/FinishedVote.tsx
  BanChan_FE/packages/Mobile/src/components/Vote/SwipeableResult.tsx
  BanChan_FE/packages/Mobile/src/components/Vote/VoteList.tsx
  BanChan_FE/packages/Mobile/src/components/Vote/VoteResult.tsx
  BanChan_FE/packages/Mobile/src/pages/Home.tsx
  BanChan_FE/packages/Mobile/src/pages/MyPage.tsx
  BanChan_FE/packages/Mobile/src/router/router.tsx
  BanChan_FE/packages/Mobile/src/types/react-gauge-chart.d.ts
  BanChan_FE/packages/Mobile/tsconfig.app.json
  BanChan_FE/packages/Web/src/components/MeetingManage/CreateMeeting.tsx
  BanChan_FE/packages/Web/src/components/MeetingManage/FinishedMeeting.tsx
  BanChan_FE/packages/Web/src/components/MeetingManage/ReservedMeeting.tsx
Due: Build and Deploy Frontend

[Fix] build error fix
  BanChan_FE/packages/Mobile/src/components/Meeting/CalendarApp.tsx
  BanChan_FE/packages/Web/src/components/MeetingManage/FinishedMeeting.tsx
  BanChan_FE/packages/Web/src/components/MeetingManage/ReservedMeeting.tsx
  BanChan_FE/packages/Web/src/components/Pagination.tsx
  BanChan_FE/packages/Web/src/components/WebRTC/ControlPanels.tsx
  BanChan_FE/packages/Web/src/pages/MeetingPage.tsx
  BanChan_FE/packages/Web/src/pages/SocialLoginPage.tsx
Due: Build and Deploy Frontend

[Feat]회원 정보 승인, 수정
  BanChan_FE/packages/Web/src/components/UserManage/Approval.tsx
  BanChan_FE/packages/Web/src/components/UserManage/Manage.tsx
Due: Build and Deploy Frontend

[Env] 프론트 restart
  BanChan_FE/packages/Mobile/README.MD
  BanChan_FE/packages/Web/README.MD
Due: Build and Deploy Frontend

[Fix]redirect uri수정
  BanChan_FE/packages/Web/.env
  BanChan_FE/packages/Web/src/pages/KakaoCallback.tsx
Due: Build and Deploy Frontend

[Fix] 라우트 수정
  BanChan_FE/packages/Web/src/components/Buttons/KakaoLoginButton.tsx
  BanChan_FE/packages/Web/src/pages/SocialLoginPage.tsx
Due: Build and Deploy Frontend

[Fix] openvidu error fixed
  BanChan_FE/packages/Mobile/src/components/Meeting/CalendarApp.tsx
  BanChan_FE/packages/Mobile/src/components/Meeting/MeetingList.tsx
  BanChan_FE/packages/Web/.env
  BanChan_FE/packages/Web/src/Type.ts
  BanChan_FE/packages/Web/src/components/MeetingManage/CreateMeeting.tsx
  BanChan_FE/packages/Web/src/components/WebRTC/ChatBox.tsx
  BanChan_FE/packages/Web/src/pages/MeetingPage.tsx
  BanChan_FE/packages/Web/vite.config.ts
Due: Build and Deploy Frontend

[Env] 프론트 재시작
  BanChan_FE/packages/Mobile/README.MD
  BanChan_FE/packages/Web/README.MD
Due: Build and Deploy Frontend

[Fix] jwt요청 방식 변경
  BanChan_FE/packages/Web/src/pages/KakaoCallback.tsx
Due: Build and Deploy Frontend

[Feat] OpenVidu await
  BanChan_FE/packages/Web/.env
  BanChan_FE/packages/Web/src/components/MeetingManage/CreateMeeting.tsx
  BanChan_FE/packages/Web/src/components/WebRTC/ChatBox.tsx
  BanChan_FE/packages/Web/src/pages/MeetingPage.tsx
  BanChan_FE/packages/Web/src/pages/SessionJoinPage.tsx
  BanChan_FE/packages/Web/src/router/router.tsx
Due: Build and Deploy Frontend

[Feat] 게시글 상세조회 구현
  BanChan_FE/packages/Web/.env
  BanChan_FE/packages/Web/src/Type.ts
  BanChan_FE/packages/Web/src/api/CommunityAPI.ts
  BanChan_FE/packages/Web/src/api/VoteAPI.ts
  BanChan_FE/packages/Web/src/components/VoteManage/VoteDetail.tsx
  BanChan_FE/packages/Web/src/components/VoteManage/VoteForm.tsx
Due: Build and Deploy Frontend

[Fix] rtc ws modified
  BanChan_FE/packages/Web/src/pages/MeetingPage.tsx
Due: Build and Deploy Frontend

[Fix] wss => ws
  BanChan_FE/package-lock.json
  BanChan_FE/packages/Web/src/pages/MeetingPage.tsx
Due: Build and Deploy Frontend

merge
  BanChan_FE/packages/Web/src/pages/MeetingPage.tsx
Due: Build and Deploy Frontend

[Env] 젠킨스 환경변수 수정
  nginx/nginx.conf
Due: none

[Env] 백엔드 재시작
  Banchan/README.md
Due: Build and Deploy Backend

[Feat] 투표 생성 로직 구현
  BanChan_FE/.env
  BanChan_FE/.gitignore
  BanChan_FE/packages/Web/src/Type.ts
  BanChan_FE/packages/Web/src/api/VoteAPI.ts
  BanChan_FE/packages/Web/src/components/VoteManage/ActiveVote.tsx
  BanChan_FE/packages/Web/src/components/VoteManage/FinishedVote.tsx
  BanChan_FE/packages/Web/src/components/VoteManage/VoteCreate.tsx
  BanChan_FE/packages/Web/src/components/VoteManage/VoteDetail.tsx
  BanChan_FE/packages/Web/src/components/VoteManage/VoteForm.tsx
Due: Build and Deploy Frontend

[Fix] token
  BanChan_FE/packages/Web/src/components/MeetingManage/ReservedMeeting.tsx
  BanChan_FE/packages/Web/src/pages/MeetingPage.tsx
Due: Build and Deploy Frontend

merge
  BanChan_FE/packages/Web/src/components/MeetingManage/ReservedMeeting.tsx
Due: Build and Deploy Frontend

[fix] fix
  BanChan_FE/packages/Web/src/components/MeetingManage/ReservedMeeting.tsx
Due: Build and Deploy Frontend

[Env] https설정 추가(only오픈비두서버)
  docker-compose/docker-compose-rvproxy.yml
  nginx/Dockerfile
  nginx/nginx.conf
Due: none

[Env] ssl관련 파일들 설정
  nginx/ssl/nginx.crt
  nginx/ssl/nginx.key
Due: none

[Env] ssl폴더 경로 변경
  nginx/Dockerfile
Due: none

[Env] ssl경로 변경
  nginx/nginx.conf
Due: none

[Env] ssl설정파일 변경
  nginx/ssl/nginx.crt
  nginx/ssl/nginx.key
Due: none

[Env] ssl설정파일 변경
  nginx/nginx.conf
Due: none

[Env] 쉘코드 추가
  shellcode/openvidu_reject.sh
Due: none

[Delete] .env파일 삭제
  BanChan_FE/.gitignore
  BanChan_FE/packages/Web/.env
Due: Build and Deploy Frontend

[Env] 리버스프록시 설정 변경
  nginx/nginx.conf
Due: none

[Env] 프론트 쉘코드 변경
  shellcode/front_reject.sh
  shellcode/front_restart.sh
  shellcode/front_up.sh
Due: none

[Env] 프론트 쉘코드 변경
  shellcode/front_mobilde_restart.sh
  shellcode/front_mobilde_up.sh
Due: none

[Fix] openvidu join session modified
  BanChan_FE/packages/Web/src/components/MeetingManage/ReservedMeeting.tsx
  BanChan_FE/packages/Web/src/pages/MeetingPage.tsx
Due: Build and Deploy Frontend

[Fix] 관리자 로직 수정
  Banchan/src/main/java/com/__105/Banchan/admin/controller/AdminController.java
  Banchan/src/main/java/com/__105/Banchan/admin/service/AdminService.java
  Banchan/src/main/java/com/__105/Banchan/admin/service/impl/AdminServiceImpl.java
  Banchan/src/main/java/com/__105/Banchan/user/entity/User.java
  Banchan/src/main/java/com/__105/Banchan/user/entity/UserApartment.java
  Banchan/src/main/java/com/__105/Banchan/user/repository/UserRepository.java
Due: Build and Deploy Backend

[Env] 백엔드 오픈비두서버 설정 변경
  Banchan/src/main/resources/application.yml
  shellcode/openvidu_reject.sh
Due: Build and Deploy Backend
