Repository wodyddldl333/banchan: changes, and which Jenkins stages are due for each by the changed paths.
All: Build and Deploy Backend, Build and Deploy Frontend

Jenkinsfile:

pipeline {
    agent any

    environment {
        GIT_CREDENTIAL_ID = 'pwd-gitlab-ssafy'
    }

    stages {
        stage('Checkout') {
            steps {
                git url: 'https://lab.ssafy.com/s11-webmobile1-sub2/S11P12E105.git', branch: 'production', credentialsId: GIT_CREDENTIAL_ID
            }
        }
        stage('Build and Deploy Backend') {
            when {
                changeset "Banchan/**"
            }
            steps {
                script {
                    sh '''
                    cd ~/201-105/S11P12E105/docker-compose
                    sudo docker stop -f banchan_back1
                    sudo docker stop -f banchan_back2
                    sudo docker stop -f reverse
                    sudo docker rm -f banchan_back1
                    sudo docker rm -f banchan_back2
                    sudo docker rm -f reverse
                    sudo docker rmi -f docker-compose-banchan_back1
                    sudo docker rmi -f docker-compose-banchan_back2
                    sudo docker rmi -f docker-compose-nginx
                    sudo docker-compose -f docker-compose-back.yml up -d
                    sudo docker-compose -f docker-compose-rvproxy.yml up -d
                    '''
                }
            }
        }
        stage('Build and Deploy Frontend') {
            when {
                changeset "BanChan_FE/**"
            }
            steps {
                script {
                    sh '''
                    cd ~/201-105/S11P12E105/docker-compose
                    sudo docker stop -f banchan_front
                    sudo docker stop -f reverse
                    sudo docker rm -f banchan_front
                    sudo docker rm -f reverse
                    sudo docker rmi -f docker-compose-front_dt
                    sudo docker rmi -f docker-compose-nginx
                    sudo docker-compose -f docker-compose-front.yml up -d
                    sudo docker-compose -f docker-compose-rvproxy.yml up -d
                    '''
                }
            }
        }
    }
    post {
        always {
            cleanWs()
        }
    }
}

[Env] 젠킨스 실험2
  BanChan_FE/README.md
Due: Build and Deploy Frontend

[Env] 젠킨스 실행 경로 확인
  Jenkinsfile
Due: none

[Env] 젠킨스 실험3
  BanChan_FE/README.md
Due: Build and Deploy Frontend

[Env] 젠킨스 실험4
  BanChan_FE/README.md
Due: Build and Deploy Frontend

[Env] 젠킨스 실험5
  BanChan_FE/README.md
  Jenkinsfile
Due: Build and Deploy Frontend

[Env] 젠킨스 실험7
  BanChan_FE/README.md
Due: Build and Deploy Frontend

[Env] 젠킨스 실험8
  BanChan_FE/README.md
  Jenkinsfile
Due: Build and Deploy Frontend

[Env] 젠킨스 도커파일 생성
  docker-compose/Dockerfile
  docker-compose/docker-compose-jenkins.yml
Due: none

[Env] 젠킨스 도커파일 생성 후 저장
  docker-compose/Dockerfile
Due: none

[Env] 젠킨스 도커 설정 우분투->데비안
  docker-compose/Dockerfile
Due: none

[Env] 젠킨스 권한 부여
  docker-compose/Dockerfile
Due: none

[Env] 젠킨스 권한 부여 순서 변경
  docker-compose/Dockerfile
Due: none

[Env] 젠킨스실험9
  BanChan_FE/README.md
  Jenkinsfile
  docker-compose/Dockerfile
  docker-compose/docker-compose-jenkins.yml
Due: Build and Deploy Frontend

[Env] 젠킨스실험10
  BanChan_FE/README.md
  Jenkinsfile
Due: Build and Deploy Frontend

[Env] 젠킨스실험11
  BanChan_FE/README.md
  Jenkinsfile
Due: Build and Deploy Frontend

[Env] 젠킨스실험12
  BanChan_FE/README.md
  Jenkinsfile
Due: Build and Deploy Frontend

[Env] 젠킨스실험13
  BanChan_FE/README.md
  Jenkinsfile
Due: Build and Deploy Frontend

[Feat] 로그인 유저 정보 조회 구현 (wip)
  Banchan/src/main/java/com/__105/Banchan/auth/config/SecurityConfig.java
  Banchan/src/main/java/com/__105/Banchan/auth/controller/AuthController.java
  Banchan/src/main/java/com/__105/Banchan/auth/jwt/JwtAuthFilter.java
  Banchan/src/main/java/com/__105/Banchan/common/exception/ErrorCode.java
  Banchan/src/main/java/com/__105/Banchan/redis/service/impl/RefreshTokenServiceImpl.java
  Banchan/src/main/java/com/__105/Banchan/user/controller/UserController.java
  Banchan/src/main/java/com/__105/Banchan/user/service/UserService.java
  Banchan/src/main/java/com/__105/Banchan/user/service/impl/UserServiceImpl.java
Due: Build and Deploy Backend

[Feat] 투표 생성 페이지 구현
  BanChan_FE/src/components/VoteManage/VoteCreate.tsx
Due: Build and Deploy Frontend

[Feat] 투표 메세지 전송 기능 구현, 투표 생성 구현(wip)
  BanChan_FE/src/components/MainLayout.tsx
  BanChan_FE/src/components/VoteManage/ActiveVote.tsx
  BanChan_FE/src/components/VoteManage/FinishedVote.tsx
  BanChan_FE/src/components/VoteManage/SendMessage.tsx
  BanChan_FE/src/components/VoteManage/VoteCreate.tsx
  BanChan_FE/src/components/VoteManage/VoteDetail.tsx
  BanChan_FE/src/components/VoteManage/VoteForm.tsx
  BanChan_FE/src/pages/VoteManagePage.tsx
  BanChan_FE/src/pages/VotePage.tsx
Due: Build and Deploy Frontend

투표 생성 페이지 구현
  BanChan_FE/src/components/MainLayout.tsx
  BanChan_FE/src/pages/VoteCreatePage.tsx
  BanChan_FE/src/pages/VoteManagePage.tsx
Due: Build and Deploy Frontend

[Feat] 투표 목록 페이지 제작(wip)
  BanChan_FE/src/components/MainLayout.tsx
  BanChan_FE/src/pages/VoteManagePage.tsx
Due: Build and Deploy Frontend

[Feat] 투표 작성 투표추가 구현
  BanChan_FE/src/components/VoteManage/VoteCreate.tsx
  BanChan_FE/src/components/VoteManage/VoteForm.tsx
  BanChan_FE/src/pages/VotePage.tsx
Due: Build and Deploy Frontend

[Feat] 투표 상세 페이지 구현
  BanChan_FE/src/pages/VoteCreatePage.tsx
  BanChan_FE/src/pages/VoteDetail.tsx
Due: Build and Deploy Frontend

투표 생성 페이지 구현
  BanChan_FE/src/pages/VoteCreatePage.tsx
Due: Build and Deploy Frontend

[Feat] 투표 작성 투표추가 구현
  BanChan_FE/src/pages/VotePage.tsx
Due: Build and Deploy Frontend

[Feat] 투표 메세지 전송 기능 구현, 투표 생성 구현(wip)
  BanChan_FE/src/components/VoteManage/ActiveVote.tsx
  BanChan_FE/src/components/VoteManage/FinishedVote.tsx
  BanChan_FE/src/pages/VoteCreatePage.tsx
  BanChan_FE/src/pages/VoteDetail.tsx
  BanChan_FE/src/pages/VotePage.tsx
Due: Build and Deploy Frontend

[Merge] 메인 FE 병합
  BanChan_FE/src/App.tsx
Due: Build and Deploy Frontend

[Refactor] 코드 라우팅 정리
  BanChan_FE/src/App.tsx
  BanChan_FE/src/components/Community/Ask.tsx
  BanChan_FE/src/components/Community/Board.tsx
  BanChan_FE/src/components/Community/Notice.tsx
  BanChan_FE/src/components/MainSideBar.tsx
  BanChan_FE/src/components/MeetingManage/ActiveMeeting.tsx
  BanChan_FE/src/components/MeetingManage/FinishedMeeting.tsx
  BanChan_FE/src/components/MeetingManage/ReservedMeeting.tsx
  BanChan_FE/src/components/UserManage/Approval.tsx
  BanChan_FE/src/components/UserManage/Manage.tsx
  BanChan_FE/src/components/VoteManage/ActiveVote.tsx
  BanChan_FE/src/components/VoteManage/FinishedVote.tsx
  BanChan_FE/src/pages/HomePage.tsx
  BanChan_FE/src/pages/LoginPage.tsx
  BanChan_FE/src/pages/MeetingManagePage.tsx
  BanChan_FE/src/pages/MyPage.tsx
  BanChan_FE/src/pages/OtherManagePage.tsx
  BanChan_FE/src/pages/UserManagePage.tsx
  BanChan_FE/src/pages/VoteManagePage.tsx
  BanChan_FE/src/router/router.tsx
Due: Build and Deploy Frontend

[Style] community page ui modified
  BanChan_FE/package-lock.json
  BanChan_FE/package.json
  BanChan_FE/src/components/WebRTC/ChatBox.tsx
  BanChan_FE/src/main.tsx
  BanChan_FE/src/pages/CommunityPage.tsx
  BanChan_FE/src/pages/MeetingPage.tsx
  BanChan_FE/vite.config.ts
Due: Build and Deploy Frontend

[Env] 젠킨스실험14
  BanChan_FE/README.md
  Jenkinsfile
Due: Build and Deploy Frontend

[Env] 젠킨스실험15
  BanChan_FE/README.md
  Jenkinsfile
Due: Build and Deploy Frontend

[Env] 젠킨스실험16
  BanChan_FE/README.md
Due: Build and Deploy Frontend

[Env] 백엔드 젠킨스실험1
  Banchan/README.md
Due: Build and Deploy Backend

[Feat] 로그인 유저 정보 조회 구현
  Banchan/src/main/java/com/__105/Banchan/user/dto/SignupRequestDto.java
Due: Build and Deploy Backend

[Env] 도커컴포즈 mysql, redis 경로 설정 변경
  docker-compose/docker-compose-back.yml
Due: none

[Env] 젠킨스실험17
  BanChan_FE/README.md
Due: Build and Deploy Frontend

[Feat] 로그인 유저 정보 조회 구현
  Banchan/src/main/java/com/__105/Banchan/auth/config/SecurityConfig.java
  Banchan/src/main/java/com/__105/Banchan/auth/dto/KakaoUserDto.java
  Banchan/src/main/java/com/__105/Banchan/auth/jwt/JwtAuthFilter.java
  Banchan/src/main/java/com/__105/Banchan/common/config/SwaggerConfig.java
  Banchan/src/main/java/com/__105/Banchan/common/config/WebMvcConfig.java
  Banchan/src/main/java/com/__105/Banchan/common/exception/ErrorCode.java
  Banchan/src/main/java/com/__105/Banchan/user/dto/SignupRequestDto.java
  nginx/nginx.conf
Due: Build and Deploy Backend
