Repository wodyddldl333/banchan: changes, and which Jenkins stages are due for each by the changed paths.
All: Build and Deploy Backend, Build and Deploy Frontend

Build and Deploy Backend:
              steps {
                  script {
                      sh '''
                      cd /home/S11P12E105
                      cd docker-compose
                      sudo docker-compose -f docker-compose-back.yml build --no-cache 
                      sudo docker stop banchan_back1 || true
  ...

Build and Deploy Frontend:
              steps {
                  script {
                      sh '''
                      cd /home/S11P12E105
                      cd docker-compose
                      sudo docker-compose -f docker-compose-front.yml build --no-cache 
                      sudo docker stop banchan_front || true
  ...

[Docs] 덤프데이터 최신화
  exec/dumpdata/data.sql
  exec/dumpdata/data_ha.sql
Due: none

[Env] 덤프데이터 최신화
  Banchan/src/main/resources/data.sql
Due: Build and Deploy Backend

Commits
  BanChan_FE/packages/Web/src/components/MeetingManage/FinishedMeeting.tsx
Due: Build and Deploy Frontend

[Feat] 백버튼 삭제
  BanChan_FE/packages/Web/src/components/SendMessage.tsx
  BanChan_FE/packages/Web/src/components/VoteManage/VoteCreate.tsx
  BanChan_FE/packages/Web/src/components/VoteManage/VoteDetail.tsx
  BanChan_FE/packages/Web/src/components/VoteManage/VoteEnd.tsx
Due: Build and Deploy Frontend

Update BanChan_FE/packages/Web/README.MD
  BanChan_FE/packages/Web/README.MD
Due: Build and Deploy Frontend

[Feat] 메인 화면 렌더링 완성 및 투표 수정
  BanChan_FE/packages/Mobile/src/components/Vote/FinishedVote.tsx
  BanChan_FE/packages/Mobile/src/pages/Home.tsx
Due: Build and Deploy Frontend

[Feat] OTP z-index 수정, 투표완료 인원 설정
  BanChan_FE/packages/Mobile/src/components/Vote/FinishedVote.tsx
  BanChan_FE/packages/Mobile/src/components/Vote/newDrawer.tsx
Due: Build and Deploy Frontend

Commits
  BanChan_FE/packages/Mobile/src/Types.ts
  BanChan_FE/packages/Mobile/src/components/Meeting/MeetingList.tsx
  BanChan_FE/packages/Web/src/components/MeetingManage/FinishedMeeting.tsx
  BanChan_FE/packages/Web/src/pages/MeetingPage.tsx
Due: Build and Deploy Frontend

Commits
  BanChan_FE/packages/Mobile/src/components/Meeting/MeetingList.tsx
  BanChan_FE/packages/Web/src/components/MeetingManage/FinishedMeeting.tsx
Due: Build and Deploy Frontend

Commits
  BanChan_FE/packages/Mobile/src/components/Meeting/MeetingList.tsx
Due: Build and Deploy Frontend

Commit
  BanChan_FE/packages/Web/src/pages/HomePage.tsx
Due: Build and Deploy Frontend

Commits
  BanChan_FE/packages/Web/src/pages/MeetingPage.tsx
Due: Build and Deploy Frontend

Update README.md
  README.md
Due: none

[Docs] Readme 업데이트
  README.md
Due: none

[Env]리드미수정
  README.md
  exec/resources/ERD.PNG
Due: none

[Docs] erd 확장자명 수정
  exec/resources/ERD.png
Due: none

[Docs] erd확장자명 변경
  README.md
Due: none

[Env]리드미수정
  README.md
  exec/resources/카카오로그인.gif
  exec/resources/커뮤니티생성,글쓰기.gif
  exec/resources/투표생성참여.gif
  exec/resources/회의생성참여.gif
Due: none

[Docs] 노션 링크 추가
  README.md
Due: none

[Env]리드미수정
  README.md
  exec/resources/입주민승인.gif
  exec/resources/회의요약.gif
Due: none

[Env]리드미수정
  README.md
Due: none

Delete credentials.json
  Banchan/credentials.json
Due: Build and Deploy Backend

리드미 수정
  README.md
  exec/resources/commnity.gif
  exec/resources/conf.gif
  exec/resources/conf_enter.gif
  exec/resources/login.gif
  exec/resources/mypage.gif
  exec/resources/vote.gif
Due: none

readme 수정
  README.md
Due: none

README.md 수정
  README.md
  exec/.DS_Store
  exec/resources/admin_login.png
  exec/resources/conf.png
  exec/resources/main.png
  exec/resources/mypage.png
  exec/resources/notice.png
  exec/resources/vote.png
  exec/resources/web.png
Due: none

README 수정
  README.md
Due: none

Path conditions:
  Build and Deploy Backend: any of: Banchan/**
  Build and Deploy Frontend: any of: BanChan_FE/**
