Repository wodyddldl333/banchan: changes, and which Jenkins stages are due for each by the changed paths.
All: Build and Deploy Backend, Build and Deploy Frontend

Jenkinsfile:

pipeline {
    agent any

    environment {
        GIT_CREDENTIAL_ID = 'pwd-gitlab-ssafy'
    }

    stages {
        stage('Checkout') {
            steps {
                git url: 'https://lab.ssafy.com/s11-webmobile1-sub2/S11P12E105.git', branch: 'production', credentialsId: GIT_CREDENTIAL_ID
            }
        }
        stage('Build and Deploy Backend') {
            when {
                changeset "Banchan/**"
            }
            steps {
                script {
                    sh '''
                    cd /home/S11P12E105
                    sudo git pull
                    cd docker-compose
                    sudo docker stop banchan_back1
                    sudo docker stop banchan_back2
                    sudo docker rm banchan_back1
                    sudo docker rm banchan_back2
                    sudo docker rmi docker-compose-banchan_back1
                    sudo docker rmi docker-compose-banchan_back2
                    sudo docker-compose -f docker-compose-back.yml up -d
                    '''
                }
            }
        }
        stage('Build and Deploy Frontend') {
            when {
                changeset "BanChan_FE/**"
            }
            steps {
                script {
                    sh '''
                    cd /home/S11P12E105
                    sudo git pull
                    cd docker-compose
                    sudo docker stop banchan_front
                    sudo docker rm banchan_front
                    sudo docker rmi docker-compose_front_dt
                    sudo docker-compose -f docker-compose-front.yml up -d
                    '''
                }
            }
        }
    }
    post {
        always {
            cleanWs()
        }
    }
}

[Env] 리버스프록시 conf 경로설정 변경
  nginx/nginx.conf
Due: none

[Env] 리버스프록시 conf롤백
  nginx/nginx.conf
Due: none

[Env] 리버스프록시 conf 묶기
  nginx/nginx.conf
Due: none

[Env] 리버스프록시 api경로만 액세스컨트롤 적용
  nginx/nginx.conf
Due: none

[Feat] 투표 메세지 전송 API 구현
  BanChan_FE/packages/Web/package-lock.json
  BanChan_FE/packages/Web/package.json
  BanChan_FE/packages/Web/src/api/SenaMassageAPI.tsx
  BanChan_FE/packages/Web/src/components/Buttons/BackButton.tsx
  BanChan_FE/packages/Web/src/components/MainSideBar.tsx
  BanChan_FE/packages/Web/src/components/TempTableRow.tsx
  BanChan_FE/packages/Web/src/components/VoteManage/ActiveVote.tsx
  BanChan_FE/packages/Web/src/components/VoteManage/SendMessage.tsx
  BanChan_FE/packages/Web/src/components/VoteManage/VoteCreate.tsx
  BanChan_FE/packages/Web/src/components/VoteManage/VoteEnd.tsx
  BanChan_FE/packages/Web/src/components/VoteManage/VoteEndForm.tsx
  BanChan_FE/packages/Web/src/router/router.tsx
Due: Build and Deploy Frontend

[Feat] RefreshToken 갱신 구현
  Banchan/src/main/java/com/__105/Banchan/auth/config/SecurityConfig.java
  Banchan/src/main/java/com/__105/Banchan/auth/controller/AuthController.java
  Banchan/src/main/java/com/__105/Banchan/auth/jwt/JwtUtil.java
  Banchan/src/main/java/com/__105/Banchan/auth/service/AuthService.java
  Banchan/src/main/java/com/__105/Banchan/auth/service/impl/AuthServiceImpl.java
  Banchan/src/main/java/com/__105/Banchan/common/exception/ErrorCode.java
  Banchan/src/main/java/com/__105/Banchan/redis/domain/RefreshToken.java
  Banchan/src/main/java/com/__105/Banchan/redis/repository/RefreshTokenRepository.java
  Banchan/src/main/java/com/__105/Banchan/redis/service/impl/RefreshTokenServiceImpl.java
Due: Build and Deploy Backend

[Feat] WebRTC-ing
  BanChan_FE/packages/Mobile/index.html
  BanChan_FE/packages/Mobile/src/components/Header.tsx
  BanChan_FE/packages/Mobile/src/components/UserSettings/HomeInfo.tsx
  BanChan_FE/packages/Mobile/src/pages/MyPage.tsx
  BanChan_FE/packages/Mobile/tailwind.config.js
  BanChan_FE/packages/Web/index.html
  BanChan_FE/packages/Web/src/components/Buttons/SmallButton.tsx
  BanChan_FE/packages/Web/src/components/MainHeader.tsx
  BanChan_FE/packages/Web/src/components/MainSideBar.tsx
  BanChan_FE/packages/Web/src/components/MeetingManage/CreateMeeting.tsx
  BanChan_FE/packages/Web/src/components/MeetingManage/FinishedMeeting.tsx
  BanChan_FE/packages/Web/src/components/MeetingManage/ReservedMeeting.tsx
  BanChan_FE/packages/Web/src/pages/MeetingPage.tsx
Due: Build and Deploy Frontend

[Feat] 블랙리스트 로그아웃 구현
  Banchan/src/main/java/com/__105/Banchan/auth/controller/AuthController.java
  Banchan/src/main/java/com/__105/Banchan/auth/dto/StatusResponseDto.java
  Banchan/src/main/java/com/__105/Banchan/auth/jwt/JwtAuthFilter.java
  Banchan/src/main/java/com/__105/Banchan/auth/jwt/JwtExceptionFilter.java
  Banchan/src/main/java/com/__105/Banchan/auth/service/TokenBlacklistService.java
  Banchan/src/main/java/com/__105/Banchan/auth/service/impl/AuthServiceImpl.java
  Banchan/src/main/java/com/__105/Banchan/auth/service/impl/TokenBlacklistServiceImpl.java
  Banchan/src/main/java/com/__105/Banchan/common/exception/ErrorCode.java
  Banchan/src/main/java/com/__105/Banchan/redis/domain/RefreshToken.java
  Banchan/src/main/java/com/__105/Banchan/redis/repository/RefreshTokenRepository.java
  Banchan/src/main/java/com/__105/Banchan/redis/service/RefreshTokenService.java
  Banchan/src/main/java/com/__105/Banchan/redis/service/impl/RefreshTokenServiceImpl.java
Due: Build and Deploy Backend

[Feat] 문의, 공지 통합 완료 및 스웨거 설명 추가
  Banchan/src/main/java/com/__105/Banchan/ask/controller/AskController.java
  Banchan/src/main/java/com/__105/Banchan/ask/dto/AskCommentRequest.java
  Banchan/src/main/java/com/__105/Banchan/ask/dto/AskCommentResponse.java
  Banchan/src/main/java/com/__105/Banchan/ask/dto/AskDetailResponse.java
  Banchan/src/main/java/com/__105/Banchan/ask/dto/AskListResponse.java
  Banchan/src/main/java/com/__105/Banchan/ask/dto/AskPostRequest.java
  Banchan/src/main/java/com/__105/Banchan/ask/entity/Ask.java
  Banchan/src/main/java/com/__105/Banchan/ask/entity/AskComment.java
  Banchan/src/main/java/com/__105/Banchan/ask/entity/AskImage.java
  Banchan/src/main/java/com/__105/Banchan/ask/entity/AskLike.java
  Banchan/src/main/java/com/__105/Banchan/ask/entity/AskLikeId.java
  Banchan/src/main/java/com/__105/Banchan/ask/repository/AskCommentRepository.java
  Banchan/src/main/java/com/__105/Banchan/ask/repository/AskImageRepository.java
  Banchan/src/main/java/com/__105/Banchan/ask/repository/AskLikeRepository.java
  Banchan/src/main/java/com/__105/Banchan/ask/repository/AskRepository.java
  Banchan/src/main/java/com/__105/Banchan/ask/repository/AskSpecification.java
  Banchan/src/main/java/com/__105/Banchan/ask/servie/AskService.java
  Banchan/src/main/java/com/__105/Banchan/ask/servie/AskServiceImpl.java
  Banchan/src/main/java/com/__105/Banchan/auth/jwt/JwtAuthFilter.java
  Banchan/src/main/java/com/__105/Banchan/auth/service/impl/AuthServiceImpl.java
  Banchan/src/main/java/com/__105/Banchan/notice/controller/NoticeController.java
  Banchan/src/main/java/com/__105/Banchan/notice/dto/NoticeCommentRequest.java
  Banchan/src/main/java/com/__105/Banchan/notice/dto/NoticeCommentResponse.java
  Banchan/src/main/java/com/__105/Banchan/notice/dto/NoticeDetailResponse.java
  Banchan/src/main/java/com/__105/Banchan/notice/dto/NoticeListResponse.java
  Banchan/src/main/java/com/__105/Banchan/notice/dto/NoticePostRequest.java
  Banchan/src/main/java/com/__105/Banchan/notice/dto/SearchCondition.java
  Banchan/src/main/java/com/__105/Banchan/notice/entitiy/Notice.java
  Banchan/src/main/java/com/__105/Banchan/notice/entitiy/NoticeComment.java
  Banchan/src/main/java/com/__105/Banchan/notice/entitiy/NoticeImage.java
  Banchan/src/main/java/com/__105/Banchan/notice/repository/NoticeCommentRepository.java
  Banchan/src/main/java/com/__105/Banchan/notice/repository/NoticeImageRepository.java
  Banchan/src/main/java/com/__105/Banchan/notice/repository/NoticeRepository.java
  Banchan/src/main/java/com/__105/Banchan/notice/repository/NoticeSpecification.java
  Banchan/src/main/java/com/__105/Banchan/notice/service/NoticeService.java
  Banchan/src/main/java/com/__105/Banchan/notice/service/NoticeServiceImpl.java
  Banchan/src/main/java/com/__105/Banchan/redis/service/TokenBlacklistService.java
  Banchan/src/main/java/com/__105/Banchan/redis/service/impl/TokenBlacklistServiceImpl.java
  Banchan/src/main/java/com/__105/Banchan/user/entity/UserApartment.java
Due: Build and Deploy Backend

[Env] 백엔드 젠킨스 빌드업 노캐쉬 실험
  Banchan/README.md
  Jenkinsfile
Due: Build and Deploy Backend

[Env] 백엔드 젠킨스 빌드업 노캐쉬 실험2
  Banchan/README.md
  Jenkinsfile
Due: Build and Deploy Backend

[Feat] 자체로그인 쿠키 설정 추가
  Banchan/src/main/java/com/__105/Banchan/auth/controller/AuthController.java
  Banchan/src/main/java/com/__105/Banchan/auth/service/AuthService.java
  Banchan/src/main/java/com/__105/Banchan/auth/service/impl/AuthServiceImpl.java
Due: Build and Deploy Backend

[Feat] 투표 완료 페이지 구현
  BanChan_FE/packages/Web/src/components/TempTable.tsx
  BanChan_FE/packages/Web/src/components/TempTableRow.tsx
  BanChan_FE/packages/Web/src/components/VoteManage/ActiveVote.tsx
  BanChan_FE/packages/Web/src/components/VoteManage/FinishedVote.tsx
  BanChan_FE/packages/Web/src/components/VoteManage/SendMessage.tsx
  BanChan_FE/packages/Web/src/components/VoteManage/VoteCreateForm.tsx
  BanChan_FE/packages/Web/src/components/VoteManage/VoteDetail.tsx
  BanChan_FE/packages/Web/src/components/VoteManage/VoteEnd.tsx
  BanChan_FE/packages/Web/src/components/VoteManage/VoteEndForm.tsx
  BanChan_FE/packages/Web/src/components/VoteManage/VoteForm.tsx
  BanChan_FE/packages/Web/src/router/router.tsx
Due: Build and Deploy Frontend

[Fixed] TS error Fixed + WebRTC Contents commenting
  BanChan_FE/package-lock.json
  BanChan_FE/packages/Mobile/src/App.tsx
  BanChan_FE/packages/Mobile/src/components/Vote/ShowVote.tsx
  BanChan_FE/packages/Mobile/src/pages/FirstPage.tsx
  BanChan_FE/packages/Mobile/src/pages/Home.tsx
  BanChan_FE/packages/Mobile/src/pages/MyPage.tsx
  BanChan_FE/packages/Mobile/src/router/router.tsx
  BanChan_FE/packages/Mobile/vite.config.ts
  BanChan_FE/packages/Web/package.json
  BanChan_FE/packages/Web/src/OpenviduSession.tsx
  BanChan_FE/packages/Web/src/components/MeetingManage/ReservedMeeting.tsx
  BanChan_FE/packages/Web/src/pages/AudioComponent.tsx
  BanChan_FE/packages/Web/src/pages/MeetingPage.tsx
  BanChan_FE/packages/Web/src/pages/VideoConference.tsx
  BanChan_FE/packages/Web/src/router/router.tsx
  BanChan_FE/shared/public/assets/Mobile_main.jpg
Due: Build and Deploy Frontend

[Remove] 불필요 파일 제거
  BanChan_FE/packages/Web/src/router/router.tsx
Due: Build and Deploy Frontend

[Env] 프론트 도커 관련 업데이트
  BanChan_FE/packages/Mobile/Dockerfile
  BanChan_FE/packages/Web/Dockerfile
  docker-compose/docker-compose-front.yml
  nginx/nginx.conf
Due: Build and Deploy Frontend

[Env] 프론트 전역 asset 등록
  BanChan_FE/packages/Mobile/Dockerfile
  BanChan_FE/packages/Web/Dockerfile
Due: Build and Deploy Frontend

[Env] 프론트엔드 도커 파일 수정
  BanChan_FE/Dockerfile
  BanChan_FE/packages/Mobile/Dockerfile
  BanChan_FE/packages/Web/Dockerfile
  docker-compose/docker-compose-front.yml
Due: Build and Deploy Frontend

[Env] 프론트엔드 도커 파일 수정
  BanChan_FE/Dockerfile
Due: Build and Deploy Frontend

[Env] 프론트엔드 도커 파일 수정
  BanChan_FE/Dockerfile
  BanChan_FE/packages/Mobile/assets/Mobile_main.jpg
  BanChan_FE/packages/Mobile/assets/background.png
  BanChan_FE/packages/Mobile/assets/google_logo.png
  BanChan_FE/packages/Mobile/assets/image.png
  BanChan_FE/packages/Mobile/assets/kakao_logo.png
  BanChan_FE/packages/Mobile/assets/logo.png
  BanChan_FE/packages/Mobile/assets/react.svg
  BanChan_FE/packages/Web/src/assets/Mobile_main.jpg
  BanChan_FE/packages/Web/src/assets/background.png
  BanChan_FE/packages/Web/src/assets/react copy.svg
Due: Build and Deploy Frontend

[Env] 프론트엔드 도커 파일 수정
  BanChan_FE/Dockerfile
  BanChan_FE/packages/Mobile/Dockerfile
  BanChan_FE/packages/Web/Dockerfile
Due: Build and Deploy Frontend

[Env] 프론트엔드 도커 파일 수정
  docker-compose/docker-compose-front.yml
Due: none

[Env] 프론트엔드 도커 파일 수정
  BanChan_FE/README.md
Due: Build and Deploy Frontend

[Env] 프론트엔드 도커 파일 수정
  BanChan_FE/packages/Mobile/vite.config.ts
  BanChan_FE/packages/Web/vite.config.ts
Due: Build and Deploy Frontend

[Env] 프론트엔드 도커 파일 수정
  BanChan_FE/packages/Web/src/components/MainSideBar.tsx
Due: Build and Deploy Frontend

[Env] 프론트엔드 도커 파일 수정
  BanChan_FE/packages/Mobile/Dockerfile
  BanChan_FE/packages/Web/Dockerfile
Due: Build and Deploy Frontend

[Env] 프론트 패키지 개발 환경 변경
  BanChan_FE/package-lock.json
  BanChan_FE/packages/Mobile/package-lock.json
  BanChan_FE/packages/Mobile/package.json
Due: Build and Deploy Frontend

[Refactor] vote API 수정
  Banchan/src/main/java/com/__105/Banchan/user/repository/UserRepository.java
  Banchan/src/main/java/com/__105/Banchan/vote/Dto/DataResponse.java
  Banchan/src/main/java/com/__105/Banchan/vote/Dto/VoteListResponseDto.java
  Banchan/src/main/java/com/__105/Banchan/vote/Dto/VoteResultDto.java
  Banchan/src/main/java/com/__105/Banchan/vote/Entity/VoteParticipant.java
  Banchan/src/main/java/com/__105/Banchan/vote/controller/VoteController.java
  Banchan/src/main/java/com/__105/Banchan/vote/repository/VoteParticipantRepository.java
  Banchan/src/main/java/com/__105/Banchan/vote/service/VoteServiceImpl.java
Due: Build and Deploy Backend

[Env] FE 에셋파일 경로변경
  BanChan_FE/packages/Mobile/src/assets/Mobile_main.jpg
  BanChan_FE/packages/Mobile/src/assets/background.png
  BanChan_FE/packages/Mobile/src/assets/google_logo.png
  BanChan_FE/packages/Mobile/src/assets/image.png
  BanChan_FE/packages/Mobile/src/assets/kakao_logo.png
  BanChan_FE/packages/Mobile/src/assets/logo.png
  BanChan_FE/packages/Mobile/src/assets/react.svg
Due: Build and Deploy Frontend

[Env] 리액트 SPA관련 이슈 해결
  nginx/nginx.conf
Due: none

[Feat] WebMvcConfig Cors 경로 수정
  Banchan/src/main/java/com/__105/Banchan/common/config/WebMvcConfig.java
Due: Build and Deploy Backend

[Env] http 1.1버전 추가
  nginx/nginx.conf
Due: none

[Env] nginx.conf 순서 변경
  nginx/nginx.conf
Due: none

[Env] 프록시 카피 경로 변경
  BanChan_FE/packages/Mobile/Dockerfile
  BanChan_FE/packages/Web/Dockerfile
Due: Build and Deploy Frontend
