Repository wodyddldl333/banchan: changes, and which Jenkins stages are due for each by the changed paths.
All: Build and Deploy Backend, Build and Deploy Frontend

Build and Deploy Backend:
              steps {
                  script {
                      sh '''
                      cd /home/S11P12E105
                      cd docker-compose
                      sudo docker-compose -f docker-compose-back.yml build --no-cache 
                      sudo docker stop banchan_back1 || true
  ...

Build and Deploy Frontend:
              steps {
                  script {
                      sh '''
                      cd /home/S11P12E105
                      cd docker-compose
                      sudo docker-compose -f docker-compose-front.yml build --no-cache 
                      sudo docker stop banchan_front || true
  ...

Commit
  BanChan_FE/packages/Web/vite.config.ts
Due: Build and Deploy Frontend

[Refactor] 투표 API 로직 변경 및 공지 오류 수정
  Banchan/src/main/java/com/__105/Banchan/ask/repository/AskSpecification.java
  Banchan/src/main/java/com/__105/Banchan/ask/servie/AskServiceImpl.java
  Banchan/src/main/java/com/__105/Banchan/notice/service/NoticeServiceImpl.java
  Banchan/src/main/java/com/__105/Banchan/user/repository/UserAptRepository.java
  Banchan/src/main/java/com/__105/Banchan/vote/Entity/Vote.java
  Banchan/src/main/java/com/__105/Banchan/vote/Entity/VoteParticipant.java
  Banchan/src/main/java/com/__105/Banchan/vote/repository/VoteRepository.java
  Banchan/src/main/java/com/__105/Banchan/vote/service/VoteServiceImpl.java
Due: Build and Deploy Backend

[Feat] 모바일 API 연동
  BanChan_FE/packages/Mobile/src/Types.ts
  BanChan_FE/packages/Mobile/src/components/Community/Ask/AskDetail.tsx
  BanChan_FE/packages/Mobile/src/components/Community/Ask/AskList.tsx
  BanChan_FE/packages/Mobile/src/components/Community/Notice/NoticeList.tsx
  BanChan_FE/packages/Mobile/src/components/Vote/Drawer.tsx
  BanChan_FE/packages/Mobile/src/components/Vote/ShowVote.tsx
  BanChan_FE/packages/Mobile/src/components/Vote/SwipeableContent.tsx
  BanChan_FE/packages/Mobile/src/components/Vote/SwipeableResult.tsx
  BanChan_FE/packages/Mobile/src/components/Vote/VoteList.tsx
  BanChan_FE/packages/Mobile/src/components/Vote/VoteResult.tsx
  BanChan_FE/packages/Mobile/src/mobileapi/CommunityAPI.ts
  BanChan_FE/packages/Mobile/src/router/router.tsx
Due: Build and Deploy Frontend

[Feat] 모바일 API 연동
  BanChan_FE/packages/Mobile/src/components/Vote/FinishedVote.tsx
Due: Build and Deploy Frontend

[Fix] 웹버전 오류 수정
  BanChan_FE/packages/Mobile/src/components/UserSettings/HomeInfo.tsx
  BanChan_FE/packages/Mobile/src/pages/MyPage.tsx
  BanChan_FE/packages/Web/src/api/auth.ts
  BanChan_FE/packages/Web/src/components/Buttons/LogoutButton.tsx
  BanChan_FE/packages/Web/src/components/UserManage/Approval.tsx
  BanChan_FE/packages/Web/src/components/UserManage/Manage.tsx
Due: Build and Deploy Frontend

[Feat] 모바일 API 적용 및 공지사항 폼 수정
  BanChan_FE/packages/Mobile/src/Types.ts
  BanChan_FE/packages/Mobile/src/components/Community/Ask/AskWrite.tsx
  BanChan_FE/packages/Mobile/src/components/Header.tsx
  BanChan_FE/packages/Mobile/src/components/Vote/ShowVote.tsx
  BanChan_FE/packages/Mobile/src/components/Vote/SwipeableContent.tsx
  BanChan_FE/packages/Mobile/src/components/Vote/VoteList.tsx
  BanChan_FE/packages/Mobile/src/components/Vote/newDrawer.tsx
  BanChan_FE/packages/Mobile/src/pages/Home.tsx
  BanChan_FE/packages/Web/src/api/SenaMassageAPI.tsx
  BanChan_FE/packages/Web/src/components/CRUD/Write.tsx
Due: Build and Deploy Frontend

[Fix] 빌드 에러 수정
  BanChan_FE/packages/Mobile/src/Types.ts
  BanChan_FE/packages/Mobile/src/components/Vote/SwipeableResult.tsx
Due: Build and Deploy Frontend

[Feat] RTC Commit
  BanChan_FE/packages/Web/src/Type.ts
  BanChan_FE/packages/Web/src/components/WebRTC/ChatBox.tsx
  BanChan_FE/packages/Web/src/components/WebRTC/ControlPanels.tsx
  BanChan_FE/packages/Web/src/components/WebRTC/SubscribeList.tsx
  BanChan_FE/packages/Web/src/components/WebRTC/ThumbnailPlayer.tsx
  BanChan_FE/packages/Web/src/pages/MeetingPage.tsx
Due: Build and Deploy Frontend

[Fix] 회원 정보 수정 및 엔티티 수정
  Banchan/src/main/java/com/__105/Banchan/admin/controller/AdminController.java
  Banchan/src/main/java/com/__105/Banchan/ask/entity/Ask.java
  Banchan/src/main/java/com/__105/Banchan/notice/entitiy/Notice.java
  Banchan/src/main/java/com/__105/Banchan/user/controller/UserController.java
  Banchan/src/main/java/com/__105/Banchan/user/dto/UserUpdateRequest.java
  Banchan/src/main/java/com/__105/Banchan/user/service/UserService.java
  Banchan/src/main/java/com/__105/Banchan/user/service/impl/UserServiceImpl.java
  Banchan/src/main/resources/data.sql
  Banchan/src/main/resources/ddl.sql
Due: Build and Deploy Backend

[Feat] 공지사항 다운로드 구현
  BanChan_FE/packages/Web/src/Type.ts
  BanChan_FE/packages/Web/src/components/CRUD/Detail.tsx
  BanChan_FE/packages/Web/src/components/CRUD/Write.tsx
Due: Build and Deploy Frontend

[Feat] 모바일 공지사항 파일 다운로드 구현
  BanChan_FE/packages/Mobile/src/components/Community/Notice/NoticeDetail.tsx
  BanChan_FE/packages/Web/src/components/CRUD/Detail.tsx
Due: Build and Deploy Frontend

[Env] 더미데이터 수정 및 DB초기화
  Banchan/src/main/resources/data.sql
  docker-compose/docker-compose-back.yml
Due: Build and Deploy Backend

[Refator] 공지 ControllerAdvice 추가
  Banchan/src/main/java/com/__105/Banchan/notice/exception/NoticeErrorCode.java
  Banchan/src/main/java/com/__105/Banchan/notice/exception/NoticeErrorResponse.java
  Banchan/src/main/java/com/__105/Banchan/notice/exception/NoticeException.java
  Banchan/src/main/java/com/__105/Banchan/notice/exception/NoticeExceptionHandler.java
  Banchan/src/main/java/com/__105/Banchan/notice/service/NoticeServiceImpl.java
  Banchan/src/main/resources/data.sql
  Banchan/src/main/resources/ddl.sql
Due: Build and Deploy Backend

[Env] 더미데이터 수정 및 DB초기화
  Banchan/src/main/resources/application.yml
  docker-compose/docker-compose-back.yml
Due: Build and Deploy Backend

[Env] 백엔드 인코딩 설정
  Banchan/src/main/resources/application.yml
Due: Build and Deploy Backend

[Env] 리버스프록시 인코딩 설정
  nginx/nginx.conf
Due: none

[Fix]접근 권한 코드 수정
  BanChan_FE/packages/Web/src/components/UserManage/Approval.tsx
  BanChan_FE/packages/Web/src/components/UserManage/Manage.tsx
Due: Build and Deploy Frontend

Commit
  BanChan_FE/packages/Mobile/src/Types.ts
  BanChan_FE/packages/Mobile/src/components/Meeting/ControlPanels.tsx
  BanChan_FE/packages/Mobile/src/components/Meeting/MeetingHome.tsx
  BanChan_FE/packages/Mobile/src/components/Meeting/MeetingPage.tsx
  BanChan_FE/packages/Mobile/src/components/Meeting/SessionJoinPage.tsx
  BanChan_FE/packages/Mobile/src/components/Meeting/SubscribeList.tsx
  BanChan_FE/packages/Mobile/src/components/Meeting/ThumbnailPlayer.tsx
  BanChan_FE/packages/Mobile/src/router/router.tsx
Due: Build and Deploy Frontend

[Fix] 회원 API 수정
  Banchan/src/main/java/com/__105/Banchan/user/controller/UserController.java
Due: Build and Deploy Backend

[Feat] 날자 잘림 수정
  BanChan_FE/packages/Web/src/components/Community/Ask.tsx
  BanChan_FE/packages/Web/src/components/Community/Notice.tsx
Due: Build and Deploy Frontend

[Env] 리버스프록시 백엔드 설정
  Banchan/src/main/resources/application.yml
Due: Build and Deploy Backend

[Feat] 수정본 업데이트
  BanChan_FE/packages/Mobile/src/router/router.tsx
  BanChan_FE/packages/Web/src/Type.ts
Due: Build and Deploy Frontend

[Fix] 빌드오류 수정
  BanChan_FE/packages/Mobile/src/components/Meeting/SubscribeList.tsx
Due: Build and Deploy Frontend

[Env] DB 도커컴포즈 인코딩 설정 추가
  Banchan/README.md
  docker-compose/docker-compose-back.yml
Due: Build and Deploy Backend

[Feat] 오픈비두 패키지 설치
  BanChan_FE/packages/Mobile/package.json
Due: Build and Deploy Frontend

[Env] 빌드그래이들 utf추가
  Banchan/build.gradle
Due: Build and Deploy Backend

[Feat] 오픈비두 경로 변경
  BanChan_FE/packages/Mobile/src/components/Meeting/SessionJoinPage.tsx
Due: Build and Deploy Frontend

Commit
  BanChan_FE/package-lock.json
  BanChan_FE/packages/Mobile/package.json
  BanChan_FE/packages/Mobile/src/components/Meeting/ControlPanels.tsx
  BanChan_FE/packages/Mobile/src/components/Meeting/MeetingPage.tsx
  BanChan_FE/packages/Mobile/src/components/Meeting/SessionJoinPage.tsx
Due: Build and Deploy Frontend

Commit
  BanChan_FE/package-lock.json
  BanChan_FE/packages/Mobile/src/components/Meeting/ControlPanels.tsx
  BanChan_FE/packages/Mobile/src/components/Meeting/MeetingPage.tsx
  BanChan_FE/packages/Mobile/src/components/Meeting/SessionJoinPage.tsx
Due: Build and Deploy Frontend

[Refactor] 건의 관련 예외 처리
  Banchan/src/main/java/com/__105/Banchan/ask/exception/AskErrorCode.java
  Banchan/src/main/java/com/__105/Banchan/ask/exception/AskErrorResponse.java
  Banchan/src/main/java/com/__105/Banchan/ask/exception/AskException.java
  Banchan/src/main/java/com/__105/Banchan/ask/exception/AskExceptionHandler.java
  Banchan/src/main/java/com/__105/Banchan/ask/servie/AskServiceImpl.java
  Banchan/src/main/java/com/__105/Banchan/notice/exception/NoticeExceptionHandler.java
Due: Build and Deploy Backend

[Fix]쿠키 삭제 로직 수정
  BanChan_FE/packages/Mobile/src/mobileapi/auth.ts
  BanChan_FE/packages/Web/src/api/auth.ts
Due: Build and Deploy Frontend

[Fix]관리자 페이지 api 호출 수정
  BanChan_FE/packages/Web/src/components/UserManage/Approval.tsx
  BanChan_FE/packages/Web/src/components/UserManage/Manage.tsx
Due: Build and Deploy Frontend

Commit
  BanChan_FE/packages/Mobile/src/components/Meeting/ControlPanels.tsx
  BanChan_FE/packages/Mobile/src/components/Meeting/MeetingPage.tsx
  BanChan_FE/packages/Mobile/src/components/Meeting/SubscribeList.tsx
  BanChan_FE/packages/Mobile/src/components/Meeting/Test.tsx
  BanChan_FE/packages/Mobile/src/components/Meeting/ThumbnailPlayer.tsx
  BanChan_FE/packages/Mobile/src/router/router.tsx
  BanChan_FE/packages/Web/src/components/MeetingManage/CreateMeeting.tsx
  BanChan_FE/packages/Web/src/pages/MeetingPage.tsx
Due: Build and Deploy Frontend

[Fix] 페이지 레이아웃 수정
  BanChan_FE/packages/Mobile/src/pages/MyPage.tsx
  BanChan_FE/packages/Web/src/components/Buttons/LogoutButton.tsx
  BanChan_FE/packages/Web/src/components/MainSideBar.tsx
Due: Build and Deploy Frontend

Commit
  BanChan_FE/packages/Mobile/src/components/Meeting/Test.tsx
  BanChan_FE/packages/Web/src/components/MeetingManage/CreateMeeting.tsx
Due: Build and Deploy Frontend

[Env] mysql 관련설정 변경
  Banchan/README.md
  docker-compose/docker-compose-back.yml
Due: Build and Deploy Backend

[Fix]403에러 수정
  BanChan_FE/packages/Mobile/src/mobileapi/auth.ts
  BanChan_FE/packages/Mobile/src/pages/Home.tsx
  BanChan_FE/packages/Mobile/src/pages/MyPage.tsx
  BanChan_FE/packages/Web/src/api/auth.ts
Due: Build and Deploy Frontend

[Refactor] Conference Adcide
  Banchan/src/main/java/com/__105/Banchan/conference/AudioConvertor.java
  Banchan/src/main/java/com/__105/Banchan/conference/controller/OpenViduController.java
  Banchan/src/main/java/com/__105/Banchan/conference/exception/ConfErrorCode.java
  Banchan/src/main/java/com/__105/Banchan/conference/exception/ConfErrorResponse.java
  Banchan/src/main/java/com/__105/Banchan/conference/exception/ConfException.java
  Banchan/src/main/java/com/__105/Banchan/conference/exception/ConfExceptionHandler.java
  Banchan/src/main/java/com/__105/Banchan/conference/service/OpenViduService.java
  Banchan/src/main/java/com/__105/Banchan/conference/service/SpeechService.java
Due: Build and Deploy Backend

[Feat] 모바일 투표 결과 업로드
  BanChan_FE/packages/Mobile/src/components/Vote/SwipeableResult.tsx
  BanChan_FE/packages/Mobile/src/components/Vote/VoteList.tsx
  BanChan_FE/packages/Mobile/src/components/Vote/VoteResult.tsx
  BanChan_FE/packages/Mobile/src/components/Vote/newDrawer.tsx
Due: Build and Deploy Frontend

Path conditions:
  Build and Deploy Backend: any of: Banchan/**
  Build and Deploy Frontend: any of: BanChan_FE/**
